.user-login {
  width: 100%;
  position: relative;
  padding: 7px 2px;
  margin: 10px 0;
}
.user-login-link {
  font-size: 14px;
  color: #fff;
  padding-right: 10px;
}
.register-icon {
  position: absolute;
  left: -40px;
  top: 0;
}
.user-login-link:last-child {
  border-left: 1px solid #fff;
  padding-left: 10px;
}
