.contacts {
  background-color: #fff;
  box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.1);
  padding: 40px 30px;
  display: flex;
  justify-content: center;
}

.contacts-form-header {
  font-size: 20px;
  line-height: 24px;
  color: #22242a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.contacts-left-side {
  margin-right: 10px;
}

.contacts-company {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #22242a;
  padding-bottom: 18px;
}

.contacts-serial {
  font-size: 15px;
  color: #22242a;
  font-weight: 400;
}

.contacts-serial span {
  color: #3f51ae;
}

.contacts-form {
  display: flex;
  flex-direction: column;
}

.contacts-form-inputs-wrap {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.contacts-form-inputs-wrap > label {
  width: 46%;
  padding: 10px 0;
  font-weight: 700;
}

.contacts-form-inputs-wrap > label > span {
  font-size: 15px;
  color: #575962;
  line-height: 21px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.contacts-form-inputs-wrap > label > input {
  font-size: 15px;
  color: #575962;
  line-height: 21px;
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
}

.contacts-checkboxes-title {
  font-size: 15px;
  color: #575962;
  line-height: 21px;
  font-weight: 700;
}

.contacts-checkboxes-wrap {
  display: flex;

  flex-wrap: wrap;
  margin-bottom: 15px;
}

.contacts-checkboxes-wrap > label {
  width: 45%;
}

.contacts-checkboxes-wrap > label > span:not(.checkmark) {
  font-size: 15px;
  color: #575962;
  line-height: 21px;
  margin-left: 7px;
}

.contacts-textarea-title {
  font-size: 15px;
  color: #575962;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contacts-textarea {
  background-color: #fff;
  border: 0px solid;
  padding: 9px 16px;
  font-size: 15px;
  color: #575962;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

.contacts-send-btn {
  background-color: #3f51ae;
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
  margin: 10px 0 0 auto;
  flex-shrink: 0;
  border-radius: 4px;
}

.contacts-right-side {
  margin-left: 45px;
  max-width: 260px;
}

.contacts-logo {
  width: 100%;
  max-width: 250px;
  margin: 10px 0 20px;
}

.contacts-phone-btn,
.contacts-email-btn {
  width: 100%;
  margin: 10px 0;
}

.contacts-location-title {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #22242a;
  font-weight: 700;
}

.contacts-address {
  font-size: 16px;
  line-height: 19px;
  color: #22242a;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contacts-address > svg {
  margin-right: 7px;
}

.contacts-schedule {
  opacity: 0.7;
  font-size: 14px;
  color: #22242a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.contacts-map-link {
  font-size: 14px;
  color: #3f51ae;
  font-weight: 700;
}

.contacts-form-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contacts-form-left-col {
  width: 50%;
}

.contacts-form-right-col {
  width: 50%;
}

img.contacts-img {
  width: 100%;
  max-width: 323px;
}

.contacts-form-hiden-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  .form-group {
    width: 48%;
  }
}
