.contacts-send-btn[disabled] {
  background-color: #8c90a4;
  transition: 0.5s;
}
.error {
  display: block;
  color: #f64a4a;
  font-size: 12px;
  line-height: 16px;
  transform: translateY(-6px);
}
.require-icon {
  color: #f64a4a;
}
.contacts .field-wrapper {
  float: none;
}
.mx-input {
  box-shadow: none;
  padding-left: 0;
}
