.main-description-header-packs.pack-popup .main-description-pack {
  width: 47%;
}

.main-description-header-packs .main-description-pack {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  flex: 0 0 30%;
}

.pack-popup .main-description-pack{
  flex: 0 0 45%;
}

.title-packs {
  width: 150px;
  height: 20px;
}

.main-description-header-packs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main-description-pack {
  min-height: 20px;
  line-height: 20px;
}

.main-description-pack.b-empty {
  width: 20%;
  margin-right: 12%;
}

.car-company {
  text-align: right;
}
