.banner-page {
  background-color: #f6f7f8;
  height: 368px;
  width: 100%;
  margin-bottom: 47px;
}
.banner-page img {
  height: inherit;
  width: 100%;
}
.image-banner.hide {
  opacity: 0;
}
.cars-sliders-wrap {
  width: 100%;
  overflow: hidden;
}
.preloader-slider .dealer-car {
  background-color: #f6f7f8;
}
/* .preloader-slider{
          width: 94%;
          margin: auto;
          margin-left: 0;
      } */
.empty-slider {
  margin-top: 40px;
}
.dealer-car--empty {
  margin-left: 0;
  margin-right: 20px;
  height: 333px;
  /*  width: calc(20% - 35px); */
  display: inline-block;
  transition: box-shadow 200ms;
  margin: 20px 24px 10px 10px;
  vertical-align: top;
  position: relative;
}

/* .results-cards-wrap{
          width: 94%;
          margin-left: 0;
      } */
.results-cards-wrap .dealer-car--empty {
  width: calc(20% - 35px);
}

.dealer-car-image {
  width: 100%;
  height: 200px;
}
.dealer-car-title {
  width: 142px;
  height: 22px;
  margin-top: 10.5px;
  margin-bottom: 11.5px;
}
.dealer-car-price {
  width: 172px;
  height: 16px;
  margin-top: 4px;
}

.dealer-car-specifications {
  display: flex;
  flex-wrap: wrap;
}
.specification1,
.specification2,
.specification3,
.specification4 {
  height: 13px;
  margin-right: 12px;
  margin-bottom: 10px;
}
.specification1 {
  width: 48px;
}
.specification2 {
  width: 87px;
}
.specification3 {
  width: 95px;
}
.specification4 {
  width: 86px;
}
.dealers-wrapper {
  padding-left: 374px;
}
/* @media(max-width: 1600px) {
          .dealer-car--empty, .results-cards-wrap .dealer-car{
              width: calc(25% - 35px);
          }
      } */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* .dealer-car--empty{
              width: calc(45% - 35px);
          } */
  /* .dealer-car--empty:nth-child(3n+1){
              display: none;
          } */
  .dealer-car-image {
    height: calc((100vw - 430px) / 4.66);
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .dealer-car--empty {
    width: calc(94% / 3 - 35px);
  }
  .dealer-car--empty:nth-child(4n + 1) {
    display: none;
  }
  .dealer-car-image {
    height: calc((100vw - 68px) / 4.66);
  }
}
