.index-slider .index-slider-title {
  color: #3f51ae;
}
.glider-dot {
  border-radius: 0;
}
.glider-dot.active {
  background-color: #3f51ae;
}
.glider {
  width: 112%;
}

.index-slider .owl-theme .owl-dots .owl-dot span,
.glider-dot {
  width: 40px;
  height: 6px;
}
.glider-next,
.glider-prev {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 36px;
  color: #fff;
  background-color: #3f51ae;
  border-radius: 2px;
  font-size: 25px;
}
.glider-next:after,
.glider-prev:after {
  content: "";
  display: block;
  position: relative;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 10px;
  height: 10px;
}
.glider-prev {
  left: auto;
  right: calc(7% + 28px);
}
.glider-next {
  right: 7%;
}
.glider-prev:after {
  transform: rotate(135deg) translateX(-8px) translateY(-8px);
}
.glider-next:after {
  transform: rotate(-45deg) translateX(5px) translateY(5px);
}
