//Shine
.shine,
.shine-short,
.shine-long {
  background: #fff;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 30%,
    #edeef1 60%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.shine {
  -webkit-animation-name: placeholderShimmer;
}
.shine-short {
  -webkit-animation-name: placeholderShimmerShort;
}
.shine-long {
  -webkit-animation-name: placeholderShimmerLong;
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes placeholderShimmerShort {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: 200px 0;
  }
}

@-webkit-keyframes placeholderShimmerLong {
  0% {
    background-position: -1468px 0;
  }

  100% {
    background-position: 1468px 0;
  }
}

.b-empty {
  background-color: #f6f7f8;
  color: transparent !important;
  border-radius: 2px;
  min-width: 26px;
  transition: 0.5s;
  user-select: none;
}
.empty-block--image,
.empty-block--title {
  border-radius: 2px;
  background-color: #f6f7f8;
  position: relative;
  z-index: 5;
  display: block;
  margin: auto;
}
.empty-block--image {
  width: 50px;
  height: 47px;
  margin-top: 3px;
  margin-bottom: 6px;
}
.empty-block--title {
  width: 20px;
  height: 8px;
  margin-bottom: 8px;
}
