.favorites-content {
  padding-top: 40px;
}

.favorites-header-title {
  font-size: 22px;
  color: #3f4047;
  margin-bottom: 20px;
}

.favorites-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 30px;
}

.favorites-header-description {
  font-size: 16px;
  color: #22242a;
  line-height: 24px;
  padding-right: 20px;
  width: 50%;
}

.favorites-header-notifications {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.favorites-header-notification-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 5px;
}

.favorites-header-notification-wrap + .favorites-header-notification-wrap {
  padding-left: 10px;
}

.favorites-header-notification-description {
  font-size: 15px;
  color: #22242a;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.favorites-header-notification-description a {
  color: #3f51ae;
}

.favorites-header-notification-wrap > svg {
  flex-shrink: 0;
}

.favorites-header-notification-wrap input {
  margin-left: auto;
}
