.vue-slider-mark-step {
  background-color: transparent !important;
}
.vue-slider-process {
  background-color: #3f51ae !important;
}
.vue-slider-dot {
  width: 24px !important;
  height: 24px !important;
}
.vue-slider-dot-handle {
  box-shadow: 0 0 0px 2px rgb(63, 81, 174) !important;
}
.vue-slider-dot-handle-focus {
  box-shadow: 0 0 0px 2px rgb(63, 81, 174) !important;
}
.vue-slider-dot-tooltip {
  display: none !important;
}
.range-verd-value-second {
  position: relative;
}
.range-verd-value-second.and-more:after {
  content: "+";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 16px;
  color: #3f51ae;
}
