.menu {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: rgba(63, 81, 174, 0.99);
  z-index: 31;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.menu.active {
  display: flex;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.menu-nav a {
  font-size: 34px;
  color: #fff;
  line-height: 70px;
  position: relative;
  opacity: 0;
  transition: 0.8s;
}

.menu-nav a.show {
  opacity: 1;
}

.menu-nav a.active::before, .menu-nav .router-link-active::before {
  content: "";
  position: absolute;
  top: 33px;
  left: -30%;
  background: #6f9f13;
  width: 44px;
  height: 3px;
}

.menu-promo-wrap {
  display: none;
  background-color: #3f51ae;
  padding: 15px 15px 30px;
}

.mobile-menu-promo-wrap {
  background-color: #3f51ae;
  padding: 15px 15px 30px;
  display: none;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-promo {
  color: #fff;
  max-width: 444px;
}

.menu-promo-icons {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.menu-promo-icons svg + svg {
  margin-left: 22px;
}

.menu-promo-title {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 17px;
}

.menu-promo-paragraph {
  font-size: 31px;
  line-height: 37px;
}

.menu-iphone {
  mix-blend-mode: multiply;
  width: 149px;
  height: 305px;
  flex-shrink: 0;
  margin: 0 40px;
  position: relative;
  top: 70px;
}

.menu-app-stores {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-app-stores a + a {
  margin-top: 9px;
}

.menu-get-app-wrap {
  background: #fff;
  padding: 22px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  position: relative;
}

.menu-get-app-icon {
  flex-shrink: 0;
  margin-right: 20px;
}

.menu-get-app-description {
  font-size: 15px;
  color: #282123;
  line-height: 21px;
  margin-right: 20px;
}

.menu-get-app-description span {
  color: #3f51ae;
}

.menu-get-app-form {
  display: flex;
  align-items: center;
}

.menu-get-app-form input {
  background: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 4px;
  padding: 8px 22px;
  font-size: 15px;
  color: #22242a;
  line-height: 22px;
}

.menu-get-app-form button {
  border-radius: 4px;
  background-color: #6f9f13;
  font-size: 15px;
  color: #fff;
  padding: 11px 22px;
  border: 0;
  cursor: pointer;
  margin-left: 8px;
  white-space: nowrap;
}
