.notifications-wrap {
  flex-wrap: wrap;
  display: flex;
  max-width: 1470px;
  margin: 0 auto;

  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  h2:last-child {
    margin-top: 50px;
  }

  & > div {
    margin-bottom: 25px;
  }
}

.notifications-title {
  font-size: 22px;
  line-height: 26px;
  color: #3f4047;
  margin-bottom: 20px;
}

.notifications-description {
  font-size: 16px;
  color: #22242a;
  line-height: 24px;
  margin-bottom: 10px;
}

.notification-block {
  display: flex;
  justify-content: space-between;
}

.notification-main-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notification-main-info-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.notification-main-info-title {
  font-size: 15px;
  line-height: 18px;
  color: #3f51ae;
}

.notification-main-info-title-remove {
  font-size: 13px;
  color: #22242a;
  line-height: 22px;
  display: flex;

  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 9px 14px;
  border-radius: 4px;
}

.notification-main-info-title-remove:hover {
  background-color: #3f51ae;
  color: #fff;
}

.notification-main-info-title-remove:active,
.notification-main-info-title-remove:focus {
  background-color: #354498;
  color: #fff;
}

.notification-main-info-title-remove svg {
  margin-left: 8px;
}

.notification-main-data {
  font-size: 13px;
  color: #22242a;
  line-height: 22px;
}

.notification-main-tags-wrap {
  margin-top: 10px;
}

.notification-main-tag {
  padding: 4px 7px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 13px;
  color: #22242a;
  margin: 3px;
  display: inline-block;
}

.notification-notification-settings-wrap {
  display: flex;

  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.notification-notification-setting {
  display: flex;

  align-items: center;
  font-size: 15px;
  color: #22242a;
  line-height: 21px;
}

.notification-notification-setting + .notification-notification-setting {
  margin-top: 15px;
}

.notification-notification-setting > div {
  margin-right: 10px;
}

.notification-notification-setting > div > span {
  color: #3f51ae;
}

.notification-notification-setting > svg {
  flex-shrink: 0;
  margin-right: 10px;
}

.notification-notification-setting > .switch-checkbox {
  margin-left: auto;
}

.notification-notification-info-wrap {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 25px;
}

.notification-notification-info {
  font-size: 14px;
  color: #22242a;
  line-height: 32px;
}

.notification-notification-info > svg {
  flex-shrink: 0;
  margin-right: 10px;
}

.notification-notification-btn {
  background-color: #6c9f0f;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
  flex-shrink: 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 12px;
}

.notifications-promo {
  margin-left: 15px;
}
