.spinner {
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 7px;
  height: 7px;
  background-color: #8b96ce;
  margin: 0 3px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.spinner .bounce3 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #8b96ce;
  }
  40% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #ffc700;
  }
}
