.promo {
  display: flex;

  flex-wrap: wrap;
  padding-top: 30px;
}

.promo-stats {
  max-width: 336px;
  margin-right: 36px;
}

.promo-stats h2 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  color: #3f4047;
}

.promo-stats p {
  font-size: 18px;
  line-height: 21px;
  color: #3f4047;
}

.promo-stats hr {
  margin: 10px 0 16px;
  height: 2px;
}

.promo-prices {
  max-width: 1098px;
  width: 100%;
}

.promo-prices-table-wrap {
  overflow: auto;
}

.promo-prices-table {
  text-align: left;
  border-bottom: 2px solid #efefef;
  margin-bottom: 24px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.promo-prices-table thead {
  color: #fff;
  background-color: #3f51ae;
}

.promo-prices-table thead th {
  font-weight: 700;
  padding: 11px 27px;
  font-size: 18px;
  line-height: 21px;
}

.promo-prices-table tbody tr:nth-child(2n) {
  background-color: #efefef;
}

.promo-prices-table tbody tr td {
  padding: 11px 27px;
  font-size: 16px;
  line-height: 19px;
  color: #3f4047;
}

.promo-prices-description {
  font-size: 16px;
  line-height: 24px;
  color: #22242a;
  display: flex;

  justify-content: space-between;
}

.promo-prices-description-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #3f51ae;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.promo-order-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #6c9f0f;
  border-radius: 4px;
  padding: 11px 24px;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  white-space: nowrap;
  margin-left: 20px;
}

.promo-details {
  margin-top: 100px;
  display: flex;
}

.promo-list {
  max-width: 336px;
  margin-right: 36px;
  width: 100%;
  flex-shrink: 0;
}

.promo-details-item {
  margin-bottom: 15px;
  width: 100%;
}

.promo-details-item-title {
  display: flex;

  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #3f4047;
  padding: 9px 23px;
  background-color: #efefef;
}

.promo-details-item-description {
  font-size: 20px;
  color: #3f4047;
  line-height: 37px;
  padding-left: 90px;
  margin-top: 27px;
  margin-bottom: 29px;
  position: relative;
}

.promo-details-item-description::before {
  content: "";
  background-color: #3f51ae;
  width: 53px;
  height: 5px;
  position: absolute;
  top: 15px;
  left: 25px;
}

.promo-details-item.active .promo-details-item-title {
  background-color: #3f51ae;
  color: #fff;
}

.promo-details-item.active .promo-details-item-title svg {
  transform: rotate(180deg);
}

.promo-details-item.active .promo-details-item-description {
  display: block !important;
}

.promo-map img {
  width: 100%;
}
