.result-filter-btn-wrap .mobile-sort-btn {
  font-size: 15px;
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.result-filter-btn-wrap .mobile-sort-btn svg {
  margin-right: 5px;
}
.mobile .result-filter-btn-content::before {
  right: 90px;
}
.mobile .result-filter-btn-content {
  right: auto;
  left: -20%;
}
