@media (max-width: 1024px) {
  .header {
    padding: 0 15px;
  }
  .left-nav {
    margin-left: 20px;
  }
  .left-nav a {
    padding: 15px 10px;
  }
  .mobile-menu-promo-wrap {
    display: block;
  }
  .filters {
    position: static;
    top: 0;
    max-width: 100%;
    overflow: visible;
    padding: 0 10px;
    margin-top: 120px;
    margin-bottom: 30px;
  }
  body.js-show-filters .main,
  .main {
    margin: 105px 0 35px;
  }
  .filters-car-brand-wrap,
  .filters-range-wrap,
  .mobile-checkbox-wrap > div {
    width: 50%;
    padding: 0 10px;
  }
  .filters-bottom-wrap,
  .filters-top-wrap,
  .mobile-checkbox-wrap {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
  .filters-mobile-controls {
    display: flex;
  }
  .mobile-filters-hide {
    display: none;
  }
  .mobile-checkbox-wrap div:first-of-type {
    order: 1;
  }
  .filters-slider-wrap {
    padding: 20px 10px;
  }
  .main-promo-wrap {
    display: none;
  }
  .index-slider-title {
    padding-right: 0;
    padding-left: 15px;
  }
  .index-slider-title-expand {
    display: none;
  }
  .menu-container {
    padding: 60px 20px;
  }
  .main-description {
    margin: 0;
  }
  .dealers .contacts {
    margin: 60px 20px 0;
  }
  .favorites-header-description {
    margin-bottom: 20px;
  }
  .favorites-header-notifications {
    flex-direction: column;
  }
  .favorites-header-notification-wrap {
    justify-content: flex-start;
  }
  .favorites-header-notification-wrap + .favorites-header-notification-wrap {
    padding-left: 5px;
  }
  body.js-show-filters .car-card,
  body.js-show-filters .slider-promo,
  .car-card,
  .slider-promo {
    width: calc(33% - 20px);
  }
  body.js-show-filters .car-card-img,
  .car-card-img {
    height: calc((100vw - 68px) / 4) !important;
  }
  body.js-show-filters .owl-carousel .car-card,
  body.js-show-filters .owl-carousel .slider-promo {
    width: calc((100vw - 68px) / 3.5);
  }
  body.js-show-filters .car-card-img {
    height: calc((100vw - 68px) / 4.66) !important;
  }
  .breadcrumbs-item,
  .main-header-serial-number {
    font-size: 13px;
  }
  .main-header-right .main-header-right-data:nth-child(1),
  .main-header-right .main-header-right-data:nth-child(2) {
    display: none;
  }
  .main-content-wrap {
    flex-direction: row;
  }
  .main-slider,
  .main-slider-item {
    width: calc(100vw - 172px);
  }
  .main-slider-item,
  .main-slider-controls,
  .main-content-wrap {
    height: calc(100vw - 350px);
  }
  .main-slider-controls {
    width: 90px;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 0;
    flex-direction: column;
  }
  .main-slider-controls > a {
    height: 77px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .promo-stats {
    flex-direction: column;
  }
  .promo-stats > div {
    max-width: 100%;
    margin: 20px 0;
  }

  .promo-prices-table table,
  .promo-prices-table thead,
  .promo-prices-table tbody,
  .promo-prices-table th,
  .promo-prices-table td,
  .promo-prices-table tr {
    display: block;
  }
  .promo-prices-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .promo-prices-table tr {
    border: 1px solid #ccc;
  }
  .promo-prices-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .promo-prices-table td:before {
    display: inline-block;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .promo-prices-table tbody tr:nth-child(2n) {
    background-color: #fff;
  }
  .promo-prices-table td:nth-of-type(1):before {
    content: "Borði";
  }
  .promo-prices-table td:nth-of-type(2):before {
    content: "Stærð";
  }
  .promo-prices-table td:nth-of-type(3):before {
    content: "Fjöldi";
  }
  .promo-prices-table td:nth-of-type(4):before {
    content: "1 vika";
  }
  .promo-prices-table td:nth-of-type(5):before {
    content: "2 vika";
  }
  .promo-prices-table td:nth-of-type(6):before {
    content: "3 vika";
  }
  .promo-prices-table td:nth-of-type(7):before {
    content: "4 vika";
  }
  .promo-prices-description {
    flex-direction: column;
  }
  .promo-order-btn {
    margin-left: 0;
  }
  .promo-details {
    flex-direction: column;
  }
  .promo-list {
    max-width: 100%;
  }
  .main-content,
  .main-description-title.mobile-main-description-title {
    display: block;
  }
  .mobile-main-description-title {
    margin-top: 24px;
  }
  .mobile-main-meta,
  .main-description-header.mobile-main-description-header {
    display: flex;
  }
  //.main-basic-info,
  //.main-description-header,
  //.main-description-title {
  //  display: none;
  //}
  .main-description-promo {
    position: relative;
    top: 0;
    display: none;
  }
  .mobile-main-basic-info {
    display: flex;

    justify-content: space-between;
  }
  .mobile-main-description-promo {
    display: block;
  }
  .car-card:hover {
    box-shadow: none;
  }

  .dealers-wrapper {
    padding-left: 0px;
  }

  // AsideDealer
  .filters-range-wrap--preloader {
    width: 50%;
  }
  .filters-range-wrap--preloader
    .range-filter-values
    .range-filter-input-empty {
    width: 34%;
  }
  .dealer-car--empty {
    width: calc(25% - 34px);
  }
  .checkbox-filters-wrap {
    width: 100%;
  }

  .filters-car-brand-wrap,
  .filters-range-wrap,
  .mobile-checkbox-wrap > div {
    padding: 0;
  }
  .filters-mobile-controls {
    width: 100%;
  }
  .filters-bottom-wrap {
    padding-bottom: 0;
  }
  .pack-popup {
    margin-left: auto;
  }
  .pack-popup::before {
    left: 5px;
    top: -5px;
  }
  .pack-table {
    width: 100vw;
    overflow: scroll;
  }
  .main-description-wrap {
    margin-right: 0;
  }
  .main-description-details {
    overflow: hidden;
    width: 100%;
  }

  .btn-back-page {
    width: 65px;
    height: 65px;
    top: 4vh;
    transform: translateX(50%);
  }

  // TestDrive Similar
  .td-similar {
    .td-similar__card_title {
      & > * {
        font-size: 16px;
        line-height: 1.2;
      }
    }
    .td-similar__card_model {
      & > *{
        font-size: 15px;
      }
    }
  }
  .td-similar__card_image {
    height: 128px;
  }

  .last-added-news-post {
    padding: 0 10px;
    &:nth-child(-n + 2) {
      .news-post__image {
        height: 280px;
      }
    }
    &:nth-child(n + 3) {
      flex: 0 0 50%;
      margin-bottom: 15px;
    }
  }
}
