@media (max-width: 1200px) {
  .contacts {
    flex-direction: column-reverse;
  }
  .logo-img {
    border-right: 1px solid #d8d8d8;
  }
  .nav {
    margin: auto;
  }
  .nav > .nav-link-wrap {
    display: none;
  }
  .nav > .nav-link-wrap:first-child {
    display: inline-flex;
  }
  .nav .mobile-open-menu {
    display: inline-flex;
  }
  .left-nav-smart-search {
    margin-left: 20px;
  }
  .menu-promo-title {
    font-size: 32px;
    line-height: 36px;
  }
  .menu-promo-paragraph {
    font-size: 24px;
    line-height: 30px;
  }
  .menu-iphone {
    display: none;
  }
  .notification-block {
    flex-direction: column;
  }
  .notification-main-info,
  .notification-notification-settings-wrap,
  .notification-notification-info-wrap {
    width: 100%;
    margin: 10px 0;
    max-width: 100%;
  }
  body.js-show-filters .car-card,
  body.js-show-filters .slider-promo {
    width: calc(33% - 20px);
  }

  body.js-show-filters .car-card-img {
    height: calc((100vw - 430px) / 4);
  }
  body.js-show-filters .car-card-title,
  .car-card-title {
    font-size: 16px;
    padding: 0 5px;
  }
  body.js-show-filters .car-card-details,
  .car-card-details {
    font-size: 13px;
    padding: 0 5px;
  }
  body.js-show-filters .car-card-price,
  .car-card-price {
    font-size: 18px;
    padding: 0 5px;
  }
  .car-card-price b {
    font-size: 18px;
  }
  body.js-show-filters .owl-carousel .car-card,
  body.js-show-filters .owl-carousel .slider-promo {
    width: calc((100vw - 430px) / 3.5);
  }
  body.js-show-filters .car-card-img {
    height: calc((100vw - 430px) / 4.66) !important;
  }
  .car-card,
  .slider-promo {
    width: calc((100vw - 81px) / 4);
  }
  .car-card-img {
    height: calc((100vw - 81px) / 5.33) !important;
  }
  .main-promo-wrap {
    height: calc(50vw * 0.34);
  }
  .main-content-wrap {
    flex-direction: column;
  }
  .main-slider-controls {
    height: auto;
    flex-direction: row;
    margin-left: 0;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 6px;
  }
  .main-slider-controls > a {
    margin-bottom: 0;
    margin-right: 10px;
    flex-shrink: 0;
    height: 94px;
  }
  .main-slider-item {
    height: calc(50vw - 100px);
  }
  .main-slider,
  .main-slider-item,
  .main-slider-controls {
    width: calc(100vw - 485px);
  }
  .main-basic-info {
    max-width: 403px;
    box-shadow: none;
    padding-top: 15px;
  }
  .main-basic-info .hr {
    margin: 16px 0;
  }
  .main-basic-info-header,
  .main-basic-info-data,
  .main-basic-info-price,
  .main-basic-info-credit,
  .main-basic-info-location {
    padding: 0;
  }
  .main-basic-info-parking,
  .main-basic-info-btns-wrap {
    margin: 10px 0;
  }
  .main-basic-info-bank-wrap {
    padding: 7px 20% 7px 0;
  }
  .main-header .breadcrumbs .breadcrumbs-item {
    display: none;
  }
  .main-header .breadcrumbs .breadcrumbs-item:first-of-type {
    display: flex;
    align-items: center;
  }
  .main-header-serial-number {
    margin-left: 3px;
    margin-top: -1px;
  }
  /* .results-cards-wrap{
    .dealer-car{
      width: calc(33% - 20px) !important;
    }
  } */

  .dealer-car,
  .dealer-car--empty {
    width: calc((100vw - 48px) / 3.5) !important;
    min-width: unset !important;
  }
  .dealer-car--empty {
    height: auto;
  }

  .news-filter {
    &__posts {
      flex: 0 0 100%;
    }
    &__post_image {
      width: 260px;
    }
    &__banners-ads {
      display: none;
      flex: 0 0 0%;
    }
    &__btn {
      margin-right: 15px;
      padding-top: 5px;
    }
  }
}
