@media (max-width: 1440px) {
  body.js-show-filters .car-card,
  body.js-show-filters .slider-promo {
    width: calc(25% - 20px);
  }
  body.js-show-filters .car-card-img {
    height: calc((100vw - 450px) / 5.33) !important;
  }
  body.js-show-filters .owl-carousel .car-card,
  body.js-show-filters .owl-carousel .slider-promo {
    width: calc((100vw - 450px) / 4.5);
  }
  body.js-show-filters .car-card-img {
    height: calc((100vw - 450px) / 6);
  }
  .notifications-wrap {
    padding: 25px 25px 0;
  }
  .dealer-car,
  .dealer-car--empty {
    width: calc((100vw - 450px) / 4.5) !important;
  }
  /* .results-cards-wrap{
    width: 92%;
  } */
  .dealer-car-image {
    height: 160px;
  }

  .results-wrapper {
    max-width: 100%;
  }
}
