@media (max-width: 1500px) {
  .main-header,
  .main-content {
    padding: 0 25px 20px;
  }
  .main-description-wrap {
    margin-right: 0;
  }
  .car-card,
  .slider-promo {
    width: calc((100vw - 101px) / 5);
  }
  .car-card-img {
    height: calc((100vw - 101px) / 6.66);
  }
  .car-card-title,
  .car-card-details,
  .car-card-price {
    padding: 0 9px;
  }
}