@media (max-width: 1550px) {
  .main-slider-item,
  .main-content-wrap,
  .main-slider-controls {
    height: 37vw;
  }
  .main-slider,
  .main-slider-item {
    width: calc(100vw - 685px);
  }
  .main-description {
    margin-right: 30px;
  }
  .promo,
  .promo-details {
    padding: 0 25px;
  }
  .promo-stats {
    display: flex;

    max-width: 100%;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin: 20px 0;
  }
  .promo-stats > div {
    max-width: 20%;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
  }
  .promo-stats hr {
    display: none;
  }
  .promo-prices {
    margin: 0 auto;
  }

  .last-added-news-posts {
    margin: 0;
  }
  .btn-back-page {
    transform: translateX(10px)
  }

  .news-filter {
    &__posts {
      flex: 0 0 80%;
    }
    &__post_content {
      flex: 0 0 calc(100% - 260px); 
    }
    &__post_image {
      width: 260px;
    }
    &__banners-ads {
      flex: 0 0 20%;
    }
  }
}
