@media (max-width: 1630px) {
  .contacts-right-side {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .contacts-phone-btn,
  .contacts-email-btn {
    width: 260px;
  }
  .favorites-header-description,
  .favorites-header-notifications {
    width: 100%;
  }
  .favorites-header-notification-wrap {
    width: auto;
  }
  .notifications-wrap {
    flex-wrap: wrap;
  }
  .notifications-wrap > div {
    min-width: 80%;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto 25px;
  }
  .notifications-promo {
    margin-left: 0;
  }
  .notification-block {
    padding-right: 20px;
  }
  body.js-show-filters .car-card-title,
  body.js-show-filters .car-card-details,
  body.js-show-filters .car-card-price {
    padding: 0 9px;
  }
}
