@media (max-width: 480px) {
  .filters-bottom-wrap {
    padding-bottom: 0;
  }

  .favorites-header-notification-wrap > label {
    margin-left: auto;
  }

  .menu-get-app-form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-get-app-form input {
    margin-bottom: 10px;
  }

  .main-description-details-content {
    padding: 0;
  }

  .main-description {
    padding: 0;
    margin: 0;
  }

  .main-description-promo {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .main-description-details-content li {
    width: 100%;
  }

  .main-thumbnails-item {
    padding: 10px 0;
    width: 100%;
  }

  .mobile-main-header-noti,
  .mobile-main-header-btn {
    font-size: 14px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0px;
  }

  .filter-car-type {
    margin-bottom: 6px;
  }

  .car-filters-wrap {
    padding-top: 15px;
  }

  /* .select-car-type {
    padding: 0px 10px 9px 10px;
  } */

  .history-price .discount {
    font-size: 22px;
  }

  .mobile-header-middle .ll {
    width: 50%;
    float: left;

    .mobile-header-title {
      width: auto;
      margin-left: 0px;
    }
  }

  .contacts {
    padding: 25px 15px;
  }
  .dealers .btn-dealer {
    margin-right: 15px;
  }

  .main-description-wrap {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
  }

  /* .main-description-wrap .main-description-header-packs .main-description-pack {
    width: 44%;
  } */

  .responsive-results-header {
    &.active {
      position: fixed;
      top: 70px;
      left: 0px;
      background-color: white;
      z-index: 10;
    }
  }

  .filters {
    top: 120px;
  }

  body {
    .popup {
      min-width: auto;
      width: 94%;
      //top: auto;
      /*transform: translate(-50%, 0%);*/

      .form-group {
        margin: auto;

        .form-control {
          width: 90%;
        }

        .checkbox-filter-hint {
          width: 90%;
        }
      }
    }
  }

  .profile-wrap .btn-fb img {
    left: 20px !important;
  }

  .mobile-search-wrap {
    .search-wrap {
      width: 90%;
    }
  }

  body.js-show-filters .car-card,
  body.js-show-filters .slider-promo {
    width: calc(49% - 20px);
  }

  .dealer-car,
  .dealer-car--empty {
    min-width: 150px !important;
    margin: 10px !important;
    width: calc(50% - 20px) !important;
  }
  .dealer-car--empty:nth-child(n + 3) {
    display: none !important;
  }
  .dealer-car .company-name {
    font-size: 12px;
  }

  .contacts {
    .contacts-form-right-col {
      display: none;
    }
    .contacts-form-left-col {
      width: 100%;
    }
    .contacts-right-side {
      max-width: 100%;
    }
    .contacts-left-side {
      margin-right: 0px;
    }
  }

  .glider {
    width: 100% !important;
  }

  .banner-page {
    height: auto !important;
  }

  .profile-wrap .form-group .edit-btn {
    width: 30px;
  }

  .profile-wrap .form-control.form-control-profile {
    margin-bottom: 10px;
  }

  .label-social {
    top: 0 !important;
  }

  .main-in-profile {
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  div#app {
    width: 100vw;
    overflow-x: hidden;
  }

  .txt.txt-w-check {
    top: 0 !important;
    height: auto !important;
  }
  .contacts .contacts-label {
    width: calc(100% - 20px);
    left: 10px;
  }
  .contacts .form-control {
    padding: 6px 10px;
  }
  .contacts .form-group input:focus + label.contacts-label,
  .contacts .form-group textarea:focus + label.contacts-label,
  .contacts .form-group .input-focus:hover + label.contacts-label {
    left: 10px;
  }
  .contacts .filled-label {
    left: 10px;
  }
  .contacts-form-hiden-wrapper {
    flex-direction: column;
  }
  .contacts-form-hiden-wrapper .form-group {
    width: 100%;
  }
  .results-notification-btn-content,
  .responsive-results-notification-btn-content,
  .car-dealer-content {
    width: 90vw;
  }
  .main-description-header-packs .main-description-pack {
    margin: 10px 2%;
    flex: 0 0 46%;
  }
  .dealers .contacts{
    margin: 50px 10px 0;
  }

  // TestDrive
  .btn-back-page {
    width: 50px;
    height: 50px;
    top: 4vh;
    &:after {
      content: '';
      display: block;
      position: relative;
      width: 14px;
      height: 14px;
      border-left: 3px solid @colorPrimary;
      border-bottom: 3px solid @colorPrimary;
      transform: rotate(45deg) translate(2px, -2px);
    }
  }
  .test-drive-simple-car-page p, .test-drive-simple-car-page b, .test-drive-simple-car-page span {
    font-size: 15px;
  }
  .banner-bg-image {
    height: 50vh;
  }
  .td-banner__avatar {
    display: none;
  }
  .td-banner__column {
    width: 100%;
  }
  .td-consolusion__col {
    width: 100%;
    &:last-child {
      flex-direction: column;
      align-items: stretch;
      margin-top: 20px;
    }
  }
  .td-salon__image {
    margin: 24px 0;
  }

  // TestDrive Similar
  .td-similar {
    .td-similar__card_title {
      & > * {
        font-size: 15px;
      }
    }
    .td-similar__card_model {
      & > *{
        font-size: 14px;
      }
    }
  }
  .td-similar__card_image {
    height: 110px;
  }

  .last-added-news-posts {
    flex-wrap: wrap;
  }
  .last-added-news-post{
    flex: 0 0 100% !important;
    &:nth-child(-n + 2) {
      margin-bottom: 15px;
    }
  }

  .news-filter {
    &__post {
      flex-direction: column;
      &_image {
        width: 100%;
      }
      &_content {
        flex: 0 0 100%;
        padding: 15px 0;
      }
    }
  }
  .news-post__title {
    font-size: 28px;
  }
  .post-breadcrumb {
    font-size: 13px;
  }
}
