@media (max-width: 720px) {
  /* .main {
    margin-top: 70px;
  } */

  /* .header {
    padding: 15px;
  } */

  .logo,
  .nav,
  .menu-wrap {
    display: none;
  }
  .header-wrapper {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .js-menu-mobile {
    color: #fff;
  }

  .js-menu-mobile .menu-icon {
    width: 24px;
    height: 18px;
  }

  .js-menu-mobile .menu-icon span {
    background-color: #fff;
    height: 2px;
  }

  .js-menu-mobile .menu-icon span:nth-child(2),
  .js-menu-mobile .menu-icon span:nth-child(3) {
    top: 8px;
  }

  .js-menu-mobile .menu-icon span:nth-child(4) {
    top: 16px;
  }

  .js-menu-mobile.active .menu-icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  .js-menu-mobile.active .menu-icon span:nth-child(2) {
    transform: rotate(45deg);
  }

  .js-menu-mobile.active .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .js-menu-mobile.active .menu-icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  .car-filters-wrap {
    padding: 35px 0;
  }

  .filters-car-brand-wrap,
  .filters-range-wrap,
  .mobile-checkbox-wrap > div {
    width: 100%;
  }

  .checkbox-filters-wrap {
    padding: 0;
  }

  .filters-mobile-controls {
    height: auto;
    padding: 10px 0;
    flex-direction: column;
  }

  .filters-mobile-extra-btn {
    margin-bottom: 20px;
  }

  .menu-get-app-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .menu-get-app-icon,
  .menu-get-app-description {
    margin-bottom: 20px;
  }

  .menu-iphone {
    display: none;
  }

  .menu-content {
    flex-direction: column;
  }

  .mobile-actions {
    /*display: flex;*/
    /**/
    align-items: center;
    justify-content: space-around;
  }

  .menu-promo-wrap {
    display: none;
  }

  .menu {
    align-items: flex-start;
  }

  .mobile-search-wrap {
    display: flex;
  }

  .menu-container {
    flex-direction: column;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    height: 100%;
  }

  .menu-nav {
    margin-right: 0;
    margin-bottom: 35px;
  }

  .menu-nav a {
    font-size: 24px;
    color: #fff;
    line-height: 49px;
  }

  .menu-nav a.active {
    font-weight: 700;
  }

  .menu-nav a.active::before, .menu-nav .router-link-active::before {
    top: 22px;
    width: 24px;
  }

  .mobile-great-deal {
    display: block;
  }

  .main {
    padding-bottom: 70px;
  }

  body.js-show-filters .car-card,
  body.js-show-filters .slider-promo,
  .car-card,
  .slider-promo {
    width: calc(50% - 20px);
  }

  body.js-show-filters .car-card-img,
  .car-card-img {
    height: calc((100vw - 48px) / 2.66) !important;
    max-width: 100%;
  }

  body.js-show-filters .car-card-title,
  .car-card-title {
    font-size: 13px;
  }

  body.js-show-filters .car-card-details,
  .car-card-details {
    font-size: 12px;
  }

  body.js-show-filters .car-card-price,
  .car-card-price {
    font-size: 14px;
  }

  .car-card-price b {
    font-size: 17px;
  }

  body.js-show-filters {
    .owl-carousel .car-card,
    .owl-carousel .slider-promo {
      width: calc((100vw - 48px) / 2.5);
    }
    .car-card-img,
    .notifications-wrap .dealer-car .car-card-img {
      height: calc((100vw - 48px) / 3.33) !important;
    }

    .dealer-car .car-card-img {
      width: auto;
    }
  }

  .mobile-main-meta {
    display: none;
  }

  .main-content-wrap {
    height: calc(100vw / 3);
  }

  .main-slider,
  .main-slider-item {
    width: 100%;
  }

  .main-slider-item,
  .main-content-wrap {
    height: calc((100vw - 30px) * 0.75);
  }

  .mobile-main-basic-info {
    display: none;
  }

  .main-basic-info,
  .main-description-promo,
  .main-description-title {
    display: block;
  }

  .main-description-header {
    display: block;
    /*-ms-display:;*/
  }

  .main-description-promo,
  .main-description {
    margin: 10px;
  }

  .main-description-wrap {
    display: flex;
    -ms-display: flex;
    flex-direction: column;
    align-items: center;
  }

  .results-notification-wrap,
  .main-header {
    display: flex;
    padding: 10px;
  }

  .results-header-wrap > div {
    display: block;
  }

  .responsive-results-header {
    display: flex !important;
  }

  .main-slider-controls {
    display: none;
  }

  .responsive-results-header {
    display: none;
  }

  .mobile-main-header {
    display: flex;
  }

  .main-header-right {
    display: none;
  }

  .main-basic-info {
    box-shadow: none;
    max-width: 100%;
    padding: 15px 0;
    margin-left: 0;
  }

  .main-basic-info-header,
  .main-basic-info-data,
  .main-basic-info-price {
    padding: 0;
  }

  .main-basic-info-parking {
    margin: 10px 0;
  }

  .main-basic-info-btns-wrap {
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    //z-index: 30;
    margin: 10px;
    z-index: 2;
  }

  .main-basic-info-location {
    display: none;
  }

  /* .mobile-main-basic-info-meta {
    display: flex;
  } */

  .main-basic-info-bank-wrap {
    padding: 10px 0;
  }

  .contacts-form-inputs-wrap,
  .contacts-checkboxes-wrap {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .contacts-form-inputs-wrap > label,
  .contacts-form-inputs-wrap > label input,
  .contacts-checkboxes-wrap > label,
  .contacts-checkboxes-wrap > label input {
    width: 100%;
    padding: 5px;
  }

  .main-description-header-expand {
    align-self: flex-end;
  }

  .contacts-form {
    margin-left: 0;
    margin-right: 0;
  }

  .contacts-feedback-btns-wrap {
    display: none;
  }

  .contacts-location-title {
    display: none;
  }

  .contacts {
    padding: 25px 0;
    box-shadow: none;
  }

  .main-thumbnails-item {
    padding: 7px;
  }

  .favorites-header-title,
  .notifications-title {
    display: none;
  }

  .notification-notification-btn {
    margin: auto;
  }

  .notification-block {
    padding-right: 0;
  }

  .main-content {
    padding: 0 15px;
  }

  .main-basic-info-credit {
    margin-top: 20px;
  }

  .results-cards-wrap {
    .car-card {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  /* body.js-show-filters .main {
    margin-top: 0px;
  } */

  .mobile-header-middle {
    &.active {
      margin: 0 auto;
    }
  }

  /* .results-cards-wrap{
    .dealer-car{
      width: calc(49% - 34px) !important;
    }
  } */

  .dealer-car,
  .dealer-car--empty {
    width: calc((100vw - 48px) / 2.5) !important;
  }
  .dealer-car-price {
    width: 100% !important;
  }

  .mobile,
  .tablet {
    .mobile-sub-menu {
      -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }

  /* .main {
    margin-top: 90px;
  } */
  /* .main-header-left{
    display: none;
  } */
  .main-header-right-data {
    max-width: 50%;
  }

  span.verd-fra {
    display: none;
  }

  .hr.mobile-filters-hr {
    display: block;
  }

  .desctop-filters-hr {
    display: none;
  }

  .results-count,
  .results-tags,
  .results-notification-wrap {
    display: none !important;
  }

  .dealer-car--empty {
    width: calc(43% - 35px);
  }
  .dealer-car-image {
    height: calc((100vw - 48px) / 3.33);
  }

  // Authorization
  .user-login {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .register-icon {
    display: inline-block;
    position: relative;
    top: 6px;
    left: -12px;
  }

  // Filters
  .filters-range-wrap--preloader {
    width: 100%;
  }

  .responsive-results-noti {
    display: flex;
  }

  .main-basic-info {
    width: 100%;
  }
  .pack-popup {
    width: 92%;
  }

  // Test drive page
  .td-banner__avatar{
    width: 80px;
    height: 80px;
  }
  .td-banner__title {
    font-size: 36px;
  }
  .td-banner__breadcrumb {
    margin-right: 24px;
  }
  .td-banner__breadcrumb:after {
    right: -14px;
  }
  .td-banner__breadcrumb a, .td-banner__breadcrumb span {
    font-size: 12px;
  }
  
  .banner-bg-image {
    height: 480px;
  }
  .td-banner__column {
    padding: 0;
    width: calc(100% - 100px)
  }

  .test-drive-simple-car-page {
    p, b, span{
      font-size: 17px;
      line-height: 1.44;
    }
  }
  .td-information__table-wrapper {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 100%;
      background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.5) 95%, #fff);
    }
  }
  .td-information__table {
    overflow-x: scroll;
  }
  .td-information__table-row {
    width: 600px;
  }

  .td-information__image-text p{
    font-size: 13px;
  }

  // TestDrive Similar
  .td-similar__card {
    flex: 0 0 50%;
  }
  .td-similar__card_image {
    height: 180px;
  }

  .section-last-added-news-posts {
    padding: 25px 0;
  }
  .last-added-news-post {
    .news-post__content {
      padding: 12px 10px;
    }
    &:nth-child(-n + 2) {
      .news-post__image {
        height: 180px;
      }
    }
    &:nth-child(n + 3) {
      .news-post__content {
        padding: 9px 10px;
      }
    }
  }

  .news-filter {
    &__head {
      flex-direction: column;
      padding-bottom: 20px;
    }
    &__btns {
      padding: 15px 0 0;
    }
    &__btn {
      & > * {
        font-size: 12px;
      }
    }
    &__post {
      &_image {
        width: 240px;
      }
      &_content {
        flex: 0 0 calc(100% - 240px);
      }
    }
  }
}
