.car-dealer-content {
  display: block;
}
.main-slider-item img {
  width: 100%;
}
.car-image-wrapper-empty {
  width: 860px;
  height: 570px;
}
.car-seen {
  min-width: 25px;
  height: 20px;
}
.data-update-car {
  min-width: 70px;
  height: 20px;
}
.main-basic-info-price {
  /* height: 22px; */
  /* width: calc(100% - 100px); */
  /* margin-left: 50px;
  margin-right: 50px;
  padding-left: 0;
  padding-right: 0px; */
  transition: 0.5s;
}
.main-basic-info-price.b-empty {
  width: 225px;
}
.main-basic-info-price__item {
  padding: 0 10px;
}
.main-basic-info-data__item:nth-child(1) .main-basic-info-data__text.b-empty,
.main-basic-info-data__item:nth-child(2) .main-basic-info-data__text.b-empty {
  width: 70%;
}
.main-basic-info-data__item:nth-child(3) .main-basic-info-data__text.b-empty,
.main-basic-info-data__item:nth-child(4) .main-basic-info-data__text.b-empty {
  width: 60%;
}
.main-basic-info-data__item:nth-child(5) .main-basic-info-data__text.b-empty,
.main-basic-info-data__item:nth-child(6) .main-basic-info-data__text.b-empty {
  width: 50%;
}
