<template>
  <LayoutPage class="news-page">
    <NewsPosts
      v-if="posts && posts.length"
      :posts="posts"
    />
    <NewsFilter
      :filters="filters"
      :posts="posts"
    />
  </LayoutPage>
</template>

<script>
import LayoutPage from '../../layout/blog'

import { mapGetters, mapActions } from 'vuex'
import NewsPosts from '../../components/Blog/AllPosts/lastAddedPost'
import NewsFilter from '../../components/Blog/AllPosts/filter'

export default {
  data: vm => ({
    filters: [],
    posts: []
  }),
  components: {
    LayoutPage,
    NewsPosts,
    NewsFilter
  },
  methods: {
    ...mapActions('blog',{
      setDataPage: 'SET_DATA_BLOG_PAGE',
      // getAllPost: 'GET_ALL_POST'
    })
  },
  computed: {
    ...mapGetters({
      dataPage: 'blog/GET_DATA_BLOG_PAGE'
    })
  },
  watch: {
    dataPage: {
      immediate: true,
      handler() {
        for (let el in this.dataPage) {
          this.$set(this.$data, el, this.dataPage[el])
        }
      }
    }
  },
  created () {
    this.setDataPage()
  }
}
</script>
