<template>
  <LayoutPage class="test-drive-simple-car-page">
    <component
      v-for="sec in sections"
      :key="sec.id"
      :is="`sec${sec.name}`"
      :section="sec"
      class="section"
    />

    <!-- <pre style="font-size: 14px; text-align: left;">
      {{dataPage}}
    </pre> -->
  </LayoutPage>
</template>

<script>
import LayoutPage from '@/layout/blog'

import { mapGetters, mapActions } from 'vuex'
import MainBanner from '@/components/Blog/SimplePost/banner'
import CarInfo from '@/components/Blog/SimplePost/carInfo'
import CarSlider from '@/components/Blog/SimplePost/slider'
import CarSalon from '@/components/Blog/SimplePost/salon-in-the-car'
import CarConclusion from '@/components/Blog/SimplePost/conclusion'
import CarSimilar from '@/components/Blog/SimplePost/similar'

export default {
  data: vm => ({
    sections: []
  }),
  components: {
    LayoutPage,
    secBanner,
    secTable,
    secSlider,
    secImage,
    secContent,
    secConclusion,
    secSimilar
  },
  methods: {
    ...mapActions('blog',{
<<<<<<< HEAD
      // setDataPage: 'blog/SET_DATA_SIMPLE_PAGE',
      getDataPost: 'GET_DATA_POST'
    }),
    init() {
      const pageId = this.$route.params.id
      this.getDataPost(pageId)
    },
  },
  computed: {
    ...mapGetters('blog',{
      mainDataPage: 'GET_MAIN_DATA_SIMPLE_PAGE',
      sectionsPage: 'GET_SECTIONS_SIMPLE_PAGE'
=======
      setDataPage: 'SET_DATA_SIMPLE_PAGE'
    })
  },
  computed: {
    ...mapGetters('blog',{
      dataPage: 'GET_DATA_SIMPLE_PAGE'
>>>>>>> 94c3c7cc85ef04811a0baeed8b30b9755b2cdb13
    })
  },
  watch: {
    sectionsPage: {
      immediate: true,
      handler() {
        const category = this.mainDataPage && this.mainDataPage.categoryUrlName
        const arrPath = location.pathname.split('/')
        const some = arrPath.some(el => el == category.toLowerCase())
        return some
          ? this.sections = this.sectionsPage
          : this.$router.push('/')
      }
    }
  },
  created () {
    this.init()
  }
}
</script>

<style lang="scss">
.section{
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
}
</style>
