<template>
  <LayoutPage class="vidburdir-page">
  </LayoutPage>
</template>

<script>
import LayoutPage from '../../layout/blog'

import { mapGetters } from 'vuex'

export default {
  components: {
    LayoutPage
  }
}
</script>
