<template>
  <section class="section-news-filters">
    <div class="container">

      <div class="news-filter__head">
        <span class="news-filter__title">Lesa meira...</span>
        <ul class="news-filter__btns">
          <li
            class="news-filter__btn"
            :class="{'selected': selectedFilter == filter}"
            @click="selectFilter(filter)"
            v-for="(filter, idx) in filters"
            :key="idx"
          >
            <span>{{filter}}</span>
          </li>
        </ul>
      </div>

      <div class="news-filter__body">
        <ul class="news-filter__posts" ref="posts">
          <li
            class="news-filter__post"
            v-for="(post, idx) in filteredList.slice(0, numberVisiblePosts)"
            :key="idx">
            <router-link :to="`/${post.category.toLowerCase()}/${post.id}`" class="news-filter__post_image">
              <img :src="post.image" alt="">
            </router-link>
            <div class="news-filter__post_content">
              <router-link :to="`/${post.category.toLowerCase()}/${post.id}`" class="news-post__title">{{post.title}}</router-link>
              <div class="post-breadcrumbs">
                <router-link :to="`/${post.category.toLowerCase()}`" class="post-breadcrumb">{{post.category}}</router-link>
                <router-link to="/" class="post-breadcrumb">{{post.model}}</router-link>
                <span class="post-breadcrumb">{{post.date}}</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="news-filter__banners-ads">
          <div class="banner-ad">
            <img src="https://photos.clutch.ca/af84be20-558e-11e9-8ddd-e389f2c9913a-medium.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: vm => ({
    selectedFilter: '',
    numberVisiblePosts: 3
  }),
  props: {
    filters: {
      type: Array,
      default () {
        return []
      }
    },
    posts: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    selectFilter (name) {
      this.selectedFilter != name
        ? this.selectedFilter = name
        : this.selectedFilter = null
    },
    showMorePosts () {

      if (this.numberVisiblePosts >= this.posts.length || this.$route.path != '/blog') return

      const el = this.$refs.posts
      if (el.offsetTop + el.offsetHeight < window.scrollY + window.innerHeight) {
        this.numberVisiblePosts += 3
      }
    }
  },
  computed: {
    filteredList() {
      return !!this.selectedFilter
        ? this.posts.filter((item) =>  item && item.filter == this.selectedFilter)
        : this.posts
    }
  },
  mounted() {
    window.onscroll = () => {this.showMorePosts()}
  }
}
</script>
