<template>
  <section class="section-last-added-news-posts">
    <div class="container">
      <ul class="last-added-news-posts">
        <li class="last-added-news-post">
          <div class="news-post__wrap">
            <router-link to="/" class="news-post__image">
              <img src="#" alt="">
            </router-link>
            <div class="news-post__content">
              <router-link to="/" class="news-post__title">Title</router-link>
              <div class="news-post__links">
                <router-link to="/" class="news-post__category">Category</router-link>
                <span class="news-post__date">Date</span>
              </div>
            </div>
          </div>
        </li>
        <li
          v-for="(post, idx) in posts.slice(0, 5)"
          :key="idx"
          class="last-added-news-post"
        >
          <div class="news-post__wrap">
            <router-link :to="`/${post.category.toLowerCase()}/${post.id}`" class="news-post__image">
              <img :src="post.image" alt="">
            </router-link>
            <div class="news-post__content">
              <router-link :to="`/${post.category.toLowerCase()}/${post.id}`" class="news-post__title">{{post.title}}</router-link>
              <div class="news-post__links">
                <router-link :to="`/${post.category.toLowerCase()}`" class="news-post__category">{{post.category}}</router-link>
                <span class="news-post__date">{{post.date}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    posts: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>
