.news-filter{
    &__head {
        display: flex;
        justify-content: space-between;
        padding: 46px 15px 36px;
    }
    &__body {
        display: flex;
        padding: 0 15px 46px;
    }
    &__title {
        font-family: @fontFamily;
        font-size: 27px;
        font-weight: bold;
        color: @colorPrimary;
        text-align: left;
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        background-color: #fff;
        border-radius: 14.5px;
        border: solid 1px @colorDisabled;
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 8px 11px 5px;
        cursor: pointer;
        transition: .2s;
        &>* {
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            color: @colorPrimary;
        }
        &:hover, &.selected {
            
            transition: .2s;
            &>* {
                color: #fff;
            }
        }
        &:hover {
            background-color: lighten(@colorPrimary, 10%);
            border-color: lighten(@colorPrimary, 10%);
        }
        &.selected {
            background-color: @colorPrimary;
            border-color: @colorPrimary;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__posts {
        flex: 0 0 70%;
    }
    &__post {
        display: flex;
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
        &_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
            flex: 0 0 calc(100% - 391px);
        }
        &_image {
            width: 391px;
            height: 217px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__banners-ads {
        flex: 0 0 30%;
    }
}
// News Post
.news-post {
    &__title {
        display: block;
        font-family: @fontFamily;
        font-size: 34px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
        color: @colorDark;
    }
}


// Breadcumbs
.post-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
}
.post-breadcrumb {
    display: block;
    position: relative;
    font-family: @fontFamily;
    font-size: 15px;
    font-weight: bold;
    color: @colorPrimary;
    padding-right: 24px;
    margin-bottom: 6px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 9px;
        transform: translateY(-55%);
        width: 5px;
        height: 5px;
        background-color: lighten(@colorDisabled, 10%);
    }
    &:last-child{
        color: @colorDisabled;
        &:after {
            display: none;
        }
    }
}

// Banner ad
.banner-ad {
    height: 401px;
}