.section-last-added-news-posts {
    background-color: #d8d8d8;
    padding: 50px 0;
}
.last-added-news-posts {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    margin: 0 -15px;
}
.last-added-news-post {
    padding: 0 15px;
    .news-post {
        &__wrap {
            display: flex;
            background-color: #fff;
            transition: .4s;
            &:hover {
                transition: .4s;
                box-shadow: 0 0 5px 1px rgba(0,0,0, .3);
                transform: translateY(2px);
            }
        }
        &__image {
            display: block;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__title {
            font-family: @fontFamily;
            color: #22242a;
            display: block;
            text-align: left;
        }
        &__content {
            padding: 14px 19px;
        }
        &__links {
            display: flex;
        }
        &__category {
            display: inline-block;
            color: @colorPrimary;
            text-transform: uppercase;
        }
        &__date {
            color: #8e8e8e;
        }
    }
    &:nth-child(n + 3) {
        flex: 0 0 25%;
        margin-bottom: 38px;
        .news-post {
            &__image {
                width: 107px;
                height: 80px;
            }
            &__content {
                width: calc(100% - 107px);
                padding: 9px 30px 10px 14px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
            }
            &__title {
                font-size: 16px;
                line-height: 1.2;
                height: 36px;
                overflow: hidden;
            }
            &__links {
                margin-bottom: 4px;
            }
            &__category {
                display: none;   
            }
            &__date {
                font-size: 11px;
            }
        }
    }
    &:nth-child(-n + 2) {
        flex: 0 0 50%;
        margin-bottom: 0;
        .news-post{
            &__wrap {
                flex-direction: column;
            }
            &__image {
                width: 100%;
                height: 348px;
            }
            &__title {
                font-size: 27px;
                font-weight: bold;
            }
            &__links {
                margin-top: 8px;
            }
            &__category {
                font-size: 15px;
                font-weight: bold;
                padding-right: 30px;
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    background-color: #8e8e8e;
                    width: 5px;
                    height: 5px;
                    transform: translateY(-50%);
                }
            }
            &__date {
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}