<template>
  <section class="td-banner">
    <div
      class="container"
      :class="{'banner-bg-image': !!image}"
      :style="getImage"
    >
      <router-link to="/" class="btn-back-page"/>
      <div class="td-banner__content">
        <div class="container-middle">
          <div class="td-banner__avatar">
            <img
              :src="authorImage"
              alt=""
              class="td-banner__avatar-img"
            >
          </div>
          <div class="td-banner__column">
              <h1 class="td-banner__title">
                {{title}}
              </h1>
              <ul class="td-banner__breadcrumbs">
                <li
                  class="td-banner__breadcrumb"
                  v-for="(item, idx) in breadcrumbs"
                  :key="idx"
                >
                  <router-link :to="item.link">
                    {{ item.text }}
                  </router-link>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    section: {
      type: Object,
      default: () => {}
    },
    author: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    ...mapGetters('blog',{
      mainDataPage: 'GET_MAIN_DATA_SIMPLE_PAGE'
    }),
    hasData() {
      return this.section.data
    },
    image() {
      return this.hasData.img.file_name
    },
    authorImage() {
      return this.mainDataPage.author && this.mainDataPage.author.img
        ? this.mainDataPage.author.img
        : 'https://naiza.kz/images/noimageper.jpg'
    },
    title() {
      return this.hasData.title
    },
    getImage () {
      return !!this.image
        ? `background-image: url(${this.image})`
        : ''
    },
    category() {
      return this.mainDataPage && this.mainDataPage.category
    },
    breadcrumbs() {
      const author = {
        text: 'Man',
        link: ''
      }
      const category = {
        text: this.category,
        link: this.category
      }
      const date = {
        text: '30 june',
        link: ''
      }
      return [author, category, date]
    }
  }
}
</script>
