<template>
  <section class="td-consolusion">
    <div class="container-small">
      <div class="td-consolusion__content">
        <h2 class="h2">{{title}}</h2>
        <p v-if="!!textarea">{{textarea}}</p>
      </div>

      <div class="td-consolusion__bottom">

        <div class="td-consolusion__col">
          <a v-if="!!facebook" :href="facebook" class="main-share-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 27" width="14px" height="27px">
              <path fill="#FFF" fill-rule="nonzero" d="M9 27V15h4l1-5H9V8c0-2 1.002-3 3-3h2V0h-4C6.325 0 4 2.881 4 7v3H0v5h4v12h5z">
              </path>
            </svg>
            <span>Deila</span>
          </a>
        </div>

        <div class="td-consolusion__col">
          <span v-if="!!price" class="td-consolusion__price">
            Verð frá {{price}} kr.
          </span>
          <a v-if="!!defaultButton" :href="defaultButton" class="td__btn-primary">
            <span>Skoða verðlistann</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    section: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    hasData() {
      return this.section.data
    },
    title() {
      return this.hasData.title
        ? this.hasData.title
        : 'Lokaorð'
    },
    textarea() {
      return this.hasData && this.hasData.textarea
    },
    hasLinks() {
      return this.hasData && this.hasData.links && this.hasData.links
    },
    facebook() {
      return this.hasLinks.facebook.link
    },
    defaultButton() {
      return this.hasLinks.default.link
    },
    price() {
      return this.hasData && this.hasData.price
    }
  }
}
</script>
