<template>
  <section>
    <div v-if="!!image" class="td-salon__image td-salon__image--full">
      <img :src="image" alt="">
    </div>
  </section>
</template>

<script>
export default {
  props: {
    section: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    hasData() {
      return this.section && this.section.data
    },
    image() {
      return this.hasData.img && this.hasData.img.file_name
    }
  }
}
</script>
