<template>
  <section class="td-salon-car">
    <div v-if="!!image" class="container-middle">
      <div class="td-salon__image">
        <img :src="image" alt="">
      </div>
    </div>

    <div v-if="!!note" class="container-small sec-content__image-text">
      <p>{{note}}</p>
    </div>

    <div v-if="!!textarea" class="container-small">
      <p>{{ textarea }}</p>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    section: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    hasData() {
      return this.section && this.section.data
    },
    image() {
      return this.hasData.img && this.hasData.img.file_name
    },
    note() {
      return this.hasData.note
    },
    textarea() {
      return this.hasData.textarea
    }
  }
}
</script>
