<template>
  <section class="td-similar">
    <div class="container-large">
      <div class="td-similar__title">
        <h2 class="h2">
          Aðrar umfjallanir
        </h2>
      </div>

      <ul class="td-similar__cards" v-if="!!posts">
        <li
          class="td-similar__card"
          v-for="(post, idx) in posts.slice(0,4)"
          :key="idx"
        >
          <div class="td-similar__card_image">
            <img :src="post.image" alt="">
          </div>
          <div class="td-similar__card_title">
            <b>{{post.title || 'No name'}}</b>
          </div>
          <div class="td-similar__card_model">
            <p>{{post.model || 'No model'}}</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: {
    section: {
      type: Object,
      default: () => {}
    },
    cars: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    ...mapActions('blog', {
      similarPosts: 'GET_SIMILAR_POSTS'
    })
  },
  computed: {
    ...mapGetters('blog', {
      posts: 'GET_SIMILAR_POSTS'
    })
  },
  created() {
    this.similarPosts()
  }
}
</script>
