.td-banner {
  .banner-bg-image {
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 38%;
      width: 100%;
      background: linear-gradient(top, transparent, #000);
      opacity: .7;
    }
  }
}
.banner-bg-image {
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 722px;
  position: relative;
}

.td-banner__content {
  position: relative;
  position: absolute;
  bottom: 39px;
  width: 100%;
  min-height: 60px;
  padding: 0 15px;
  &>* {
    display: flex;
    justify-content: space-between;
  }
}
.td-banner__column {
  padding: 10px 0;
  width: calc(100% - 150px);
}
.td-banner__avatar {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  overflow: hidden;
  & img {
    width: inherit;
    height: inherit;
  }
}

.td-banner__title {
  color: #fff;
  font-size: 55px;
  font-family: @fontFamily;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: left;
}

.td-banner__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}
.td-banner__breadcrumb {
  position: relative;
  margin-right: 40px;
  margin-bottom: 10px;
  a, span {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }
  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: -24px;
    background-color: #fff;
    transform: translateY(-50%)
  }
  &:last-child {
    a, span {
      color: #8e8e8e;
    }
    &:after {
      display: none;
    }
  }

}