.td-car-info {
    margin: 46px 0;
}

.td-information__table-row {
    display: flex;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
/* .td-information__table-body {
    .td-information__table-col {
        display: flex;
    }
} */
.td-information__table-col {
    /* height: 37px;
    overflow: hidden; */
    display: flex;
    align-items: center;
    &:first-child {
        width: 257px;
        padding-right: 4%;
    }
    &:nth-child(2), &:nth-child(3) {
        width: calc((100% - 257px - 125px) / 2);
        padding-right: 4%;
    }
    &:last-child {
        width: 125px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;
    }
}
.td-information__table-col_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-information__image {
    width: 100%;
    margin: 44px 0 12px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
/* .td-information__image-text {
    margin-bottom: 40px;
    p {
        font-size: 14px;
        opacity: .7;
    }
} */