.td-consolusion {
    margin: 60px 0;
    .main-share-button {
        position: relative;
        top: 0;
        left: 0;
        span {
            color: #fff;
            font-size: 15px;
        }
    }
    .td__btn-primary {
        padding: 10px 24px;
    }
    .td-consolusion__price {
        padding: 0 10px;
        color: #3f51ae;
        font-size: 15px;
        font-weight: Bold;
    }
}
.td-consolusion__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}
.td-consolusion__col {
    display: flex;
    align-items: center;
}
