.td-salon__image {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: bottom;
    }
}
.td-salon__image--full {
    img {
        max-height: 800px;
    }
}