.td-similar {
    background-color: #f5f5f5;
    padding-bottom: 48px;
}
.td-similar__title {
    display: flex;
    justify-content: center;
    padding: 33px 0;
}
.td-similar__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12.5px;
}
.td-similar__card {
    flex: 0 0 25%;
    padding: 0 12.5px;
    margin-bottom: 10px;
}

.td-similar__card_image {
    width: 100%;
    height: 171px;
    margin-bottom: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.td-similar {
    /* .td-similar__card_title {
        & > * {
            
        }
    } */
    .td-similar__card_model {
        & > *{
            margin-top: 0;
            font-size: 18px;
        }
    }
}