.td-slider {
    margin: 40px 0;
    .glider-contain {
        margin-bottom: 100px;
    }
    .glider-next, .glider-prev {
        top: 50%;
        transform: translateY(-50%);
    }
    .glider-prev{
        left: 12px;
    }
    .glider-next{
        right: 12px;
    }
    .glider-next:after, .glider-prev:after {
        width: 18px;
        height: 18px;
        border-right: 4px solid #fff;
        border-bottom: 4px solid #fff;
        opacity: .7;
    }
    .glider-dots {
        display: none;
    }

    .td-slider__thumbnails-btns {
        width: 80%;
        margin: auto;
        /* transform: translateY(-50%); */
        position: absolute;
        left: 10%;
        bottom: 0%;
        transform: translateY(50%);
    }
    .td-slider__thumbnails-slider-btns {
        width: 100%;
    }
}
.td-slider__slider {
    width: 100%;
}
.td-slider__slide {
    width: 100%;
    img {
        width: 100%;
        height: 36vw;
        object-fit: cover;
    }
}


.td-slider__thumbnail-btn {
    height: 109px;
    cursor: pointer;
    margin: 10px;
    img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border: 0px solid #3f51ae;
        transition: .3s;
        pointer-events: none;
    }
    &.selected {
        img {
            border-width: 4px;
            transition: .3s;
        }
    }
}