/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
    opacity: 0;
}
.owl-theme:hover .owl-nav {
    opacity: 1;
}
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0;
    cursor: default;
      pointer-events: none;
  }
.owl-theme .owl-nav .owl-prev {
    display: none !important;
}
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 100px;
    background-color: #3F51AE !important;
    width: 40px;
    height: 40px;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.owl-theme .owl-nav .owl-prev {
    left: 20px;
}

.owl-theme .owl-nav .owl-next {
    right: 20px;
}

.owl-theme .owl-nav .owl-prev span,
.owl-theme .owl-nav .owl-next span {
    line-height: 1ex;
    margin-bottom: 7px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
      background-color: transparent;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 20px;
      height: 4px;
      margin: 5px 6px;
      background: #D8D8D8;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #3F51AE; }
