<template>
  <section class="section-blog-navigation-links">
    <div class="container">
      <nav class="blog-nav-links">
        <router-link
          class="blog-nav-link"
          v-for="(link, idx) in links"
          :key="idx"
          :to="`/${link.toLowerCase()}`"
        >
          {{link}}
        </router-link>
      </nav>
    </div>
  </section>
</template>

<script>
export default {
  data: vm => ({
    links: ['Fréttir', 'Viðburðir', 'Reynsluakstur']
  })
}
</script>
