.test-drive-simple-car-page {
    p, b, span{
      font-size: 20px;
      font-family: @fontFamily;
      line-height: 1.55;
      text-align: left;
      color: #1e1c1a;
      display: block;
    }
    p {
      margin: 10px 0;
    }
  
    .h2 {
      font-family: @fontFamily;
      font-size: 34px;
      font-weight: bold;
      color: #22242a;
      text-align: left;
    }
  }
  
  .td__hr {
    height: 1px;
    opacity: 0.44;
    border-bottom: solid 0px;
    margin: 28px 0;
  }
  
  .container-large, .container-middle, .container-small {
    margin: auto;
    padding: 0 15px;
  }
  
  .container-large {
    max-width: 1287px;
  }
  
  .container-middle {
    max-width: 1028px;
  }
    
  .container-small {
    max-width: 746px;
  }
  
  .td__btn-primary {
      border-radius: 4px;
      background-color: #3f51ae;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      padding: 8px 24px;
      span{
        font-size: 14px;
        color: #fff;
        line-height: 21px;
      }
  }
  
  .btn-back-page {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 0;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #fff;
    box-shadow: 6px 12px 35px 0 rgba(0, 0, 0, 0.23);
  
    &:after {
      content: '';
      display: block;
      position: relative;
      width: 18px;
      height: 18px;
      border-left: 4px solid @colorPrimary;
      border-bottom: 4px solid @colorPrimary;
      transform: rotate(45deg) translate(2px, -2px);
    }
  }

@import "_navigationLinks";

@import "./AllPosts/_last-added-posts";
@import "./AllPosts/_filter";

@import "./SimplePost/_banner";
@import "./SimplePost/_carInfo";
@import "./SimplePost/_slider";
@import "./SimplePost/_salon-in-the-car"; // Remove after
@import "./SimplePost/_content";
@import "./SimplePost/_conclusion";
@import "./SimplePost/_similar";