.section-blog-navigation-links {
    margin: 7px 0;
}
.blog-nav {
    &-links {
        display: flex;
        justify-content: center;
    }
    &-link {
        padding: 10px 10px;
        font-size: 16px;
        color: #22242a;
        font-family: @fontFamily;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: lighten(#3f51ae, 10%);
        }
        &.active {
            color: #3f51ae;
        }
    }
}