<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/test-drive-cars">TestDriveCars</router-link>
      <router-link to="/test-drive-car">TestDriveCar</router-link>
    </div> -->
    <router-view/>
  </div>
</template>

<style lang="less">
@import './assets/styles/styles.less';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  a {
    font-size: 16px;
  }
}
</style>
