.dealers {
  .main-basic-info-header {
    img {
      max-width: 80px;
      max-height: 80px;
    }
  }

  .main-slider-item {
    overflow: hidden;
  }

  .pack-table {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;

    thead {
      background-color: #eaeaea;

      th {
        padding: 15px;
      }
    }
  }

  tr.active img {
    margin-bottom: 1px;
  }

  .other-model img {
    margin-bottom: -7px;
  }

  tr {
    border-bottom: 1px solid #ebebeb;
  }

  tr.active {
    border-bottom: 0;
  }

  .btn-dealer {
    font-size: 14px;
    border: 1px solid lightgrey;
    color: black;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    //font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    img {
      padding-right: 5px;
    }
  }

  .contacts {
    margin-top: 60px;
  }

  span {
    word-wrap: break-word;
  }
}

body.js-show-filters .dealer-car .car-card-img {
  height: 200px;
  max-width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.results-cards-wrap {
  .dealer-car {
    width: calc(20% - 35px);
  }
}
.dealer-car,
.dealer-car--empty {
  width: calc((100vw - 450px) / 6) !important;
}
.dealer-car {
  //width: calc((100vw - 450px) / 4.5) !important;
  //background-color: #F0F0F0;
  display: inline-block;
  transition: box-shadow 200ms;
  margin: 20px 25px 10px 10px;
  vertical-align: top;
  position: relative;

  .company-name {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 16px;
    z-index: 5;
    display: none;
  }

  .car-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .car-card-img {
    width: 100%;
    /* width: 300px; */
    height: 200px;
    background-size: 100%;
  }

  &:hover .company-name {
    display: block;
  }

  &:hover {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.11);
  }
}
