.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.table_img {
  max-width: 300px;
  max-height: 300px;
}

.input-group-addon {
  width: auto;
}

.grid-view {
  overflow: auto;

  .pagination {
    position: absolute;
  }

  .table {
    margin-top: 30px;
  }

  margin-bottom: 50px;

  .summary {
    position: absolute;
  }
}

.m-dropdown__content {
  overflow: auto;
  max-height: 500px;
}

.table-action-cell {
  width: 90px;
  min-width: 90px;
}

.car-filter-checkmark {
  img {
    width: 100%;
  }
}

.car-filter.active .car-filter-checkmark {
  border-color: #2a2a8f;
  color: #2a2a8f;
}

.m-content {
  .h {
    //border: 1px solid red;
    padding: 10px 15px;
    margin-bottom: 20px;
  }
}

.history-price {
  display: flex;
  & > div {
    width: 50%;
    float: left;
  }
  & > div:last-child {
    font-size: 25px;
    padding-left: 20px;
  }
  .price {
    color: white;
    background-color: #6c9f0f;
    padding: 10px 10px 5px 10px;
  }

  .old-price {
    color: lightgrey;
    text-decoration: line-through;
  }

  .discount {
    &:before {
      content: url("/img/arrow-down.svg");
      position: relative;
      z-index: 100000;
    }
    margin-top: 10px;
    color: #6c9f0f;
    font-weight: bold;
    z-index: 9;
    position: relative;
  }
}

.cars-disc {
  font-size: 15px;
  background-color: #6c9f0f;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
  padding: 3px 7px;
}

.select_tpl {
  border: 1px solid lightgrey;
  padding: 5px;
  border-radius: 4px;
  .extra-filter-title-name {
    padding: 6px 0px;
  }

  .hr {
    display: none;
  }

  .extra-filter-content {
    padding: 3px 7px 0;
  }
}

.mobile-dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 24px #45414e;
  padding: 30px 50px 30px 70px;
  display: none;

  a {
    font-size: 24px;
    color: #000;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 40px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
  }

  .active {
    color: #3f51ae;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      margin-top: 10px;
      left: 35px;
      width: 24px;
      height: 3px;
      background-color: #343747;
    }
  }
}

.mobile-header-title > div {
  float: left;
}

.app .mobile-actions {
  display: flex;
}

.car-detail-list {
  width: 25%;
  float: left;
  ul {
    font-size: 16px;
    line-height: 32px;
    margin-left: 30px;
  }
}

sup {
  top: -0.5em;
}

.filter-car-type-wrap {
  img {
    margin-top: 12px;
  }
}

sub,
sup {
  position: relative;
  font-size: 75% !important;
  line-height: 0 !important;
  vertical-align: baseline !important;
}

@media (max-width: 480px) {
  .car-detail-list {
    width: 50%;
    ul {
      font-size: 13px;
    }
  }
  .main-basic-info-price .price b {
    font-size: 24px;
  }
}

@media (max-width: 380px) {
  .main-basic-info-price .price b {
    font-size: 22px;
  }
}
