.popup {
  width: 480px;
  min-width: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-shadow: 5px 5px 10px #4b4b4b20;
  /*border: 1px solid #4b4b4b20;*/
  z-index: 101;
  background-color: white;
  margin: 10% auto 10%;
  //padding: 15px;
  border-radius: 10px;
  position: relative;
  left: 0%;
  /* top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */

  .title {
    padding: 25px 25px 0;
    font-weight: bold;
    font-size: 25px;
  }

  label {
    text-align: left;
  }

  text-align: center;

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .f-sign-in {
    margin: 0 !important;
    background-image: url(/img/profile/footer-bg.svg);
    background-color: #3f51ae;
    height: 149px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
    padding-top: 33px;
    color: #fff;
  }

  .footer {
    padding: 10px 25px 25px;
    font-weight: bold;
  }
  a {
    font-weight: normal;
    color: #3f51ae;
  }
  a:visited {
    color: #3f51ae;
  }

  .hr-or {
    span {
      position: absolute;
      /* border: 1px solid; */
      margin-top: -7px;
      padding: 0px 10px;
      background-color: white;
      left: 50%;
      transform: translateX(-50%);
    }

    .hr {
      width: 100%;
      max-width: 355px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .btn {
    min-width: 70%;
  }

  .popup-body {
    margin: 15px;
  }

  .btn-create {
    margin-bottom: 14px;
  }

  .form-group {
    margin: 0 auto;
    padding-top: 0px;
    text-align: left;
    max-width: 355px;

    label {
      /*margin-top: 14px;*/
      position: absolute;
      width: 100%;
      min-height: 1px;
      text-transform: none;
      //padding-right: 15px;
      //padding-left: 15px;
      top: 19px;
      left: 16px;
      /*      padding-bottom: 10px;*/
      color: #3f4047;

      //padding-top: 30px;f
      margin-bottom: 0;

      font-weight: 400;
      font-size: 15px;

      float: left;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      pointer-events: none;
    }

    .checkbox-filter-label {
      position: relative;
      pointer-events: all;
      margin-bottom: 35px;
      left: 0;
    }

    .filled-label {
      position: absolute;
      font-size: 11px;
      line-height: 13px;
      top: 10px;
      left: 16px;
    }

    input:focus + label {
      position: absolute;
      font-size: 11px;
      line-height: 13px;
      top: 10px;
      left: 16px;
    }
  }

  .signin a {
    color: #fff;
    padding: 10px 30px;
    border: 2px solid #ffc701;
    border-radius: 5px;
  }

  .signin a:visited {
    color: #fff;
  }

  .f-sign-in span {
    display: block;
  }

  .signin {
    padding: 12px;
    margin-top: 20px;
  }

  .flex-form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-span {
    font-size: 13px;
    line-height: 15px;
  }

  .forgot-btn-holder {
    display: flex;
    justify-content: center;
  }
  .form-group.forgot-form-group {
    margin-bottom: 0px !important;
    padding-bottom: 25px !important;
  }

  .forgot-text {
    padding: 15px;
  }
}
