.profile-wrap {
  max-width: 750px;
  margin: 0 auto;
  font-size: 14px;

  h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .has-success .form-control,
  .has-success .input-group-text {
    border-color: #ebedf2;
  }

  .form-control,
  .form-control[readonly] {
    border-color: #ebedf2;
    color: #575962;
  }
  .field-wrapper {
    position: relative;
    width: 100%;
    max-width: 355px;
    float: left;
    height: 55px;
    border-radius: 0;
    border-radius: 0.25rem;
    margin-bottom: 9px;
    padding-top: 10px;
    padding-bottom: 2px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }
  .form-control {
    font-family: sans-serif, Arial;
    border: 0px;
    //}
    height: 100%;
    //.form-control {
    display: block;
    width: 100%;
    //padding: .85rem 1.15rem;
    padding: 6px 16px;
    font-size: 15px;
    line-height: 18px;

    &.hes-error {
      border: 1px solid red;
    }
  }
  .form-control.form-control-profile {
    border: 1px solid #bebebe;
    border-radius: 4px;
    height: 37px;
    margin-left: 15px;
  }

  .label-edit-small {
    padding-top: 4px;
  }
  .label-edit {
    padding-top: 8px;
  }
  strong {
    font-weight: bold;
  }

  .form-group {
    clear: both;
    padding-top: 30px;
    padding-bottom: 0px;

    //& > div:nth-child(2) {
    //  margin-left: 15px;
    //}

    .btn-green {
      margin-left: 10px;
      margin-top: 22px;
      //margin-top: 53px;
      display: inline-table;
    }

    .form-control[disabled] {
      border-color: #f4f5f8;
      color: #6f727d;
      background-color: #f4f5f8;
    }

    .inp {
      float: left;
      width: 250px;
      position: relative;
    }

    .edit-btn {
      width: 100px;
      float: right;
    }

    .cancel-btn {
      float: right;
      margin-left: 15px;
      margin-right: 50px;

      & > a {
        margin-left: 20px;
      }
    }

    .txt {
      font-size: 20px;
      float: left;
      margin-left: 20px;

      &.not-set {
        font-style: italic;
        color: lightgrey;
      }
    }
  }

  .checkbox-filter-hint {
    font-weight: normal;
  }

  label {
    top: 5px;
    position: relative;
    width: 70px;
    /*margin-right: 15px;*/
    text-transform: uppercase;
    min-height: 1px;
    color: #3f4047;

    //padding-top: 30px;f
    margin-bottom: 0;

    font-weight: bold;
    font-size: 12px;

    float: left;
  }

  .btn {
    cursor: pointer;
    color: #fff;
  }

  .btn-success {
    color: #fff;
    background-color: #6f9f13;
    border-color: #6f9f13;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 15px;
    //font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }

  .profile-pic {
    .btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .pic {
      float: left;
      margin: 0px 25px 25px 0px;
    }
  }

  .btn-blue {
    background-color: #3f51ae;
    border-color: #3f51ae;
  }

  .btn-fb {
    width: 100%;
    max-width: 330px;
    position: relative;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;

    img {
      left: 35px;
      position: absolute;
      top: 8px;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    background-color: #4267b2;
    padding: 5px;
  }

  .first-field {
    width: 360px;
    float: left;
  }

  .error {
    padding: 10px;
    color: red;
    position: relative;
    pointer-events: none;
    font-size: 13px;
  }

  .field-error {
    border-color: red;
  }

  a {
    font-weight: normal;
    color: #3f51ae;
  }

  a:visited {
    color: #3f51ae;
  }

  .btn-logout {
    float: right;
    position: relative;
    .btn {
      width: 200px;
      color: white;
      background-color: #484848;
    }

    img {
      position: absolute;
      left: 43px;
    }
  }
}
