//Animation transition
.toggle-enter-active,
.toggle-leave-active {
  transition: 0.5s;
}
.toggle-enter,
.toggle-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.collapse-enter-active,
.collapse-leave-active {
  transition: 0.5s;
}

.collapse-enter,
.collapse-leave-active {
  opacity: 0 !important;
  height: 0 !important;
}

.showHeaderMenu-enter-active,
.showHeaderMenu-leave-active {
  transition: 0.5s;
}
.showHeaderMenu-enter,
.showHeaderMenu-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
