@import "./tools/_fonts";
@import "./tools/_vars.less";
@import "./_reset";

* {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0px;
  overflow: auto;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.extra-filter-content-wrap::-webkit-scrollbar,
.select2-results__options::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background-color: rgba(216, 216, 216, 0.2);
}

.extra-filter-content-wrap::-webkit-scrollbar-thumb,
.select2-results__options::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
}

.autocomplete__results__item {
  font-size: 13px;
}

.filters::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  visibility: hidden;
}

.filters:hover::-webkit-scrollbar {
  visibility: visible;
}

body::-webkit-scrollbar-thumb,
.filters:hover::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

body.js-show-filters .filters {
  display: block !important;
}

body.js-show-filters .main {
  margin: 105px 0 70px 0px;
  display: block;
}

body.js-show-filters .car-card,
body.js-show-filters .slider-promo {
  width: calc(20% - 20px);
}

body.js-show-filters .car-card-img {
  height: calc((100vw - 470px) / 6.66);
}

body.js-show-filters .owl-carousel .car-card,
body.js-show-filters .owl-carousel .slider-promo {
  width: calc((100vw - 470px) / 5.5);
}

body.js-show-filters .car-card-img {
  height: calc((100vw - 470px) / 7.33);
}

b {
  font-weight: 700;
}

.hide {
  display: none !important;
}

.switch-checkbox {
  position: relative;
  cursor: pointer;
}

.switch-checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-checkbox-mark {
  width: 51px;
  height: 31px;
  background-color: #d0d0d0;
  border-radius: 18px;
  position: relative;
}

.switch-checkbox-mark::before {
  content: "";
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  width: 28px;
  height: 28px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1px solid #e5e5e5;
  transition: left 100ms;
  box-sizing: border-box;
}

.switch-checkbox input:checked ~ .switch-checkbox-mark {
  background-color: #3f51ae;
}

.switch-checkbox input:checked ~ .switch-checkbox-mark::before {
  left: 21px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 35px;
  height: 70px;
  background-color: #3f51ae;
  box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.1);
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-wrapper{
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 32;
  background-color: #3f51ae;
}

.logo {
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 32;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  height: 100%;
}

.nav-link-wrap {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  height: 100%;
  font-weight: 700;
}

.nav-link-wrap.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-link-wrap.active.remove-border::before {
  display: none;
}

.nav a,
.nav a:visited,
.nav a:active {
  color: #fff;
}

.mobile-open-menu {
  display: none;
  padding: 0;
  width: 19px;
  height: 19px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
}

.responsive-nav {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 24px #45414e;
  padding: 30px 50px 30px 70px;
}

.responsive-nav::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 40px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.nav .responsive-nav a {
  font-size: 24px;
  color: #000;
  line-height: 49px;
  position: relative;
  display: block;
}

.nav .responsive-nav a.active {
  color: #3f51ae;
  font-weight: 700;
}

.nav .responsive-nav a.active::before {
  content: "";
  position: absolute;
  top: 21px;
  left: -33px;
  width: 24px;
  height: 3px;
  background-color: #343747;
}

.menu-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  position: relative;
  z-index: 32;
}

.search-wrap {
  //border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
}

.search-wrap input {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: #3f51ae;
  padding: 10px;
}

.search-wrap .autocomplete__box {
  background-color: #3f51ae;
  border: none;
}

.search-wrap .autocomplete__box .autocomplete__icon {
  display: none;
}

.search-wrap input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.left-nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 40px;
}

.left-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
  color: #fff;
}

.left-nav a:hover,
.left-nav a.active {
  background-color: #3f51ae;
  color: #fff;
}

.menu-icon {
  width: 16px;
  height: 14px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
  top: 6px;
}

.menu-icon span:nth-child(4) {
  top: 12px;
}

.left-nav a:hover .menu-icon span,
.left-nav a.active .menu-icon span {
  background-color: #fff;
}

.left-nav a.active .menu-icon span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.left-nav a.active .menu-icon span:nth-child(2) {
  transform: rotate(45deg);
}

.left-nav a.active .menu-icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.left-nav a.active .menu-icon span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 32;
  background-color: #3f51ae;
}

.mobile-header-left {
  /*width: 33%;*/
}

.mobile-header-middle {
  width: 70%;
  text-align: center;
  position: relative;
  flex-shrink: 0;

  .mobile-header-title {
    //margin-left: 30%;
    margin-left: 10px;
    //width: 50%;
  }

  .ll:last-child {
    border-left: 2px solid white;
  }
}

.mobile-header-middle-block {
  color: #fff;
  text-align: center;
  line-height: 18px;
  padding: 0 15px;
  white-space: nowrap;
  display: inline-block;
}

.mobile-header-middle-block + .mobile-header-middle-block {
  border-left: 1px solid rgba(255, 255, 255, 0.34);
}

.mobile-header-middle-block-name {
  font-size: 14px;
}

.mobile-header-middle-block-data {
  font-size: 18px;
  font-weight: 700;
}

.mobile-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /*width: 33%;*/
}

.mobile-header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.mobile-header-expand-icon {
  color: #fff;
  margin-left: 13px;
  width: 16px;
  height: 9px;
  transition: transform 100ms;
}

.mobile-header-expand-icon.rotate {
  transform: rotate(180deg);
}

.mobile-header-subtitle {
  font-size: 14px;
  line-height: 16px;
}

.mobile-header-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.mobile-header-button-wrap {
  position: relative;
}

.mobile-header-search-btn,
.mobile-header-sort-btn,
.mobile-header-back-btn,
.mobile-header-share-btn,
.mobile-header-favorites-btn {
  background-color: transparent;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  margin-left: 3px;
}

.mobile-header-search-btn:focus,
.mobile-header-sort-btn:focus,
.mobile-header-back-btn:focus,
.mobile-header-share-btn:focus,
.mobile-header-favorites-btn:focus {
  border: 1px solid #fff;
}

.mobile-header-search-btn.active,
.mobile-header-sort-btn.active,
.mobile-header-back-btn.active,
.mobile-header-share-btn.active,
.mobile-header-favorites-btn.active,
.mobile-header-search-btn:active,
.mobile-header-sort-btn:active,
.mobile-header-back-btn:active,
.mobile-header-share-btn:active,
.mobile-header-favorites-btn:active {
  color: #3f51ae;
  background-color: #fff;
}

.mobile-header-back-btn {
  justify-content: flex-start;
}

.mobile-header-button-content {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 1px 24px 0 rgba(69, 65, 78, 0.49);
  border-radius: 4px;
  padding: 8px 0;
  width: 300px;
}

.mobile-header-button-content-item {
  padding: 13px 13px 11px 38px;
  border: 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #2a3a8f;
  line-height: 12px;
  width: 100%;
  text-align: left;
  position: relative;
}

.mobile-header-button-content-item.active {
  background-color: #3f51ae;
  color: #fff;
}

.mobile-header-button-content-item.active::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 10px;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.filters {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  max-width: 340px;
  width: 100%;
  z-index: 3;
  display: none;
  overflow-y: scroll;
  box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
}

.filters-top-wrap,
.filters-bottom-wrap {
  position: relative;
}

.filters-bottom-wrap {
  padding-bottom: 70px;
}

.select-car-type-dropdown,
.select-car-type-dropdown2 {
  position: relative;
}

.car-filters-wrap {
  height: 100%;
  padding: 35px 0 70px;
}

.filter-car-type {
  margin-bottom: 18px;
}

.filter-car-type-label {
  position: relative;
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.filter-car-type-label > input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.filter-car-type-wrap {
  font-size: 11px;
  line-height: 13px;
  color: #575962;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.filter-car-type-wrap svg {
  margin: auto;
  color: rgba(0, 0, 0, 0.3);
}

.filter-car-type-label input:checked ~ .filter-car-type-wrap {
  font-weight: 700;
  color: #3f51ae;
}

.filter-car-type-label input:checked ~ .filter-car-type-wrap svg {
  color: #3f51ae;
}

.filters-car-brand-wrap {
  padding: 0 8px;
  display: flex;
  flex-wrap: wrap;
}

.car-filter {
  margin: 3px;
  cursor: pointer;
  width: calc(25% - 6px);
  display: flex;
  justify-content: center;
  position: relative;
}

.car-filter-checkmark {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 70px;
  height: 80px;
  border: 2px solid #eaeaea;
  border-radius: 2px;
  color: #575962;
  padding: 5px;
  position: relative;
}

.car-filter-checkmark:hover {
  background-color: #eaeaea;
}

.car-filter:focus .car-filter-checkmark {
  border: 2px solid #3f51ae;
}

.car-filter input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.car-filter img {
  margin: auto;
  max-width: 100%;
  max-height: 42px;
}

.car-filter span {
  margin-top: auto;
  font-size: 10px;
}

.car-filter input:checked ~ .car-filter-checkmark {
  border-color: #2a3a8f;
  color: #2a3a8f;
}

.select-car-type {
  width: 100%;
  padding: 0 10px;
}

.select-car-type.select2 {
  padding: 0 10px 25px;
}

.select-car-type select {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

.range-filter-wrap {
  padding: 25px 20px;
}

.range-filter-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #3f51ae;
}

.range-filter-name {
  margin: auto;
  font-size: 16px;
  color: #18232c;
  font-weight: 700;
}

.range-filter-value {
  opacity: 0.5;
  font-size: 16px;
  line-height: 17px;
  color: #575962;
  border: none;
  border-bottom: 1px dashed rgba(87, 89, 98, 0.2);
  background: transparent;
  width: 80px;
  text-align: center;
  padding: 0;
}

.range-filter-value::-webkit-outer-spin-button,
.range-filter-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-filter-value.blue {
  color: #3f51ae;
  opacity: 1;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #eee;
  border: none;
  margin: 16px 0;
}

.select-car-type {
  div {
    .hr {
      margin-top: 0;
    }
  }
}

.checkbox-filters-wrap.tilbod {
  margin-bottom: 15px;
}

.checkbox-filters-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.checkbox-filters-wrap--preloader .checkbox-filter-hint-count {
  background-color: #f6f7f8;
  color: transparent;
  padding: 0 2px;
  border-radius: 4px;
  line-height: 16px;
  height: 10px;
  width: 22px;
}

.checkbox-filter-label {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #33353a;
  width: 45%;
  margin: 7px 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:nth-child(2n) {
    width: 52%;
  }

  &.active {
    background-color: lightgrey;
  }
}

.select-car-wrapper {
  .checkbox-filter-label {
    margin: 0px 0px 0px -20px;
    padding: 7px 20px;
  }
}

.checkbox-filter-label img {
  margin-left: 8px;
}

.checkbox-filter-label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  height: 21px;
  width: 21px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #dfe2ea;
  position: relative;
  flex-shrink: 0;
}

.checkbox-filter-label:hover .checkmark,
.checkbox-filter-label:focus .checkmark {
  border: 2px solid #3f51ae;
}

.checkbox-filter-label input ~ .checkmark {
  background-color: #fff;
}

.checkbox-filter-label input:checked ~ .checkmark {
  background-color: #3f51ae;
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-filter-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-filter-label .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-filter-hint {
  margin-left: 8px;
  font-size: 14px;
  color: #575962;
  line-height: 21px;
}

.checkbox-filter-hint-count {
  margin-left: auto;
  font-size: 12px;
  line-height: 21px;
  color: #575962;
  opacity: 0.5;
}

.checkbox-filter-label
  input:checked
  ~ .checkmark
  ~ .checkbox-filter-hint-count {
  opacity: 1;
}

.filters-slider-wrap {
  padding: 0 10px;
}

.filters-slider-card {
  display: block;
  position: relative;
  width: 100px;
  height: 60px;
  cursor: pointer;
  padding: 5px;
}

.filters-slider-card:hover {
  background-color: #eaeaea;
}

.filters-slider-card input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.filters-range-wrap {
  padding: 0 8px;
}
.filters-range-wrap--preloader {
  margin-bottom: 15px;
}
.filters-range-wrap--preloader .range-filter-values .range-filter-input-empty {
  width: 90px;
  height: 18px;
  border-radius: 2px;
  background-color: #f6f7f8;
}
.range-filter-slider-empty {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #f6f7f8;
  position: relative;
}

.range-filter-slider-empty:before,
.range-filter-slider-empty:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 50%;
  background-color: #f6f7f8;
  width: 26px;
  height: 26px;
  transform: translateY(-40%);
}
.range-filter-slider-empty:before {
  left: -10px;
}
.range-filter-slider-empty:after {
  right: -10px;
}

.filters-slider-card-mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #3f51ae;
  font-size: 10px;
  font-weight: 700;
}

.filters-slider-card-img {
  width: 100px;
  height: 35px;
  margin: auto;
  background: transparent no-repeat center;
  background-size: contain;
}

.filters-slider-card-mark-transparent {
  opacity: 0.3;
}

.filters-slider-card input:checked ~ .filters-slider-card-mark {
  opacity: 1 !important;
  background-color: #eaeaea;
}

.extra-filter {
  /*padding: 0 15px;*/

  .checkbox-filter-label {
    margin: 0 0 0 -20px;
    padding: 7px 20px;
  }
}

.extra-filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #575962;
}

.extra-filter-title-name.active {
  color: #3f51ae;
}

.extra-filter-title-counter {
  width: 27px;
  height: 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51ae;
  border-radius: 5px;
  color: #fff;
  margin-right: 14px;
}

.extra-filter-title svg {
  transition: transform 200ms linear;
}

.extra-filter-title svg.active {
  transform: rotate(180deg);
}

.extra-filter-content {
  padding: 15px 7px 0;
}

.extra-filter-content-tag {
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #18232c;
  padding: 5px 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
}

.extra-filter-content-tag svg {
  margin-right: 5px;
}
.extra-filter-content-tag span {
  width: calc(100% - 16px);
  line-height: 18px;
}

.extra-filter-content-search {
  border: 1px solid #c7c7cc;
  background-color: #fff;
  width: calc(100% - 10px);
  color: #18232c;
  font-size: 16px;
  padding: 7px 30px 7px 15px;
  border-radius: 4px;
  margin: 10px 5px;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
}

.extra-filter-content-wrap {
  max-height: 240px;
  overflow-y: auto;
  padding-left: 8px;
}

.filters-extra {
  width: 100%;
}

.aside-promo {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.aside-promo::before {
  /*content: 'Auglýsing';*/
  /*position: absolute;*/
  /*top: -20px;*/
  /*right: 0;*/
  /*opacity: 0.5;*/
  /*font-size: 9px;*/
  /*color: #000000;*/
  /*letter-spacing: 0.18px;*/
  /*line-height: 23px;*/
}

.filters-mobile-controls {
  display: none;
  margin-top: 15px;
  background-color: #fff;
  height: 80px;
  border-top: 1px solid #d8d8d8;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 10;
}

.filters-mobile-extra-btn {
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  color: #2a3a8f;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
}

.filters-mobile-results-wrap {
  animation: slideIn 300ms linear;
  animation-fill-mode: both;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.filters-mobile-results-wrap.active {
  position: fixed;
  left: 0;
  bottom: 100px;
}

.filters-mobile-results-btn {
  width: 58%;
  background-color: #6c9e10;
  box-shadow: 0 2px 14px 0 rgba(108, 157, 16, 0.39);
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 14px;
  cursor: pointer;
  border: none;
}

.filters-mobile-results-clear-btn {
  background-color: #4f4f4f;
  box-shadow: 0 2px 14px 0 rgba(108, 157, 16, 0.39);
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  /*margin-right: 10px;*/
  white-space: nowrap;
}

.filters-mobile-filters-btn {
  background-color: #6c9e10;
  box-shadow: 0 2px 14px 0 rgba(108, 157, 16, 0.39);
  border-radius: 2px;
  padding: 10px 24px;
  position: fixed;
  bottom: 100px;
  left: calc(50% - 82px);
  align-items: center;
  font-weight: 700;
  font-size: 19px;
  color: #fff;
  border: none;
  z-index: 4;
  opacity: 0;
  width: 164px;
  transition: opacity 300ms;
  display: inline-flex;
  pointer-events: none;
  animation: slideOut 300ms linear;
}

.filters-mobile-filters-btn.active {
  pointer-events: all;
  opacity: 1;
  animation: slideIn 300ms linear;
}

@keyframes slideIn {
  from {
    transform: translate3d(0, 200px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOut {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 200px, 0);
  }
}

.filters-mobile-filters-btn > span {
  margin-right: 12px;
}

.main {
  margin-top: 105px;
  margin-bottom: 40px;
}

.main-promo-wrap {
  padding-right: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 18px;
  max-height: 360px;
  height: calc(50vw * 0.38);
}

.main-promo-left {
  max-width: 1018px;
  width: 68%;
  position: relative;
}

.main-promo-right {
  display: none;

  max-width: 477px;
  width: 32%;
  margin-left: 20px;
  position: relative;
}

.main-promo-left::before,
.main-promo-right::before {
  /*content: 'Auglýsing';*/
  /*position: absolute;*/
  /*top: -20px;*/
  /*right: 0;*/
  /*opacity: 0.5;*/
  /*font-size: 9px;*/
  /*color: #000000;*/
  /*letter-spacing: 0.18px;*/
  /*line-height: 23px;*/
}

.main-promo-left > iframe,
.main-promo-right > iframe {
  width: 100% !important;
  height: 100% !important;
}

.index-slider {
  margin-bottom: 20px;
}

.index-slider-title {
  font-size: 22px;
  line-height: 26px;
  color: #3f4047;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.index-slider-title-expand {
  font-size: 14px;
  font-weight: 700;
  color: #3f51ae;
}

.index-slider-wrap {
  margin-bottom: 15px;
}

.slider-promo {
  width: calc(100vw / 7 - 14px);
  margin: 20px 10px 10px;
  display: block;
  position: relative;
}

.slider-promo::before {
  content: "Auglýsing";
  position: absolute;
  top: -20px;
  right: 0;
  opacity: 0.5;
  font-size: 9px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 23px;
}

.car-card {
  width: 280px;
  display: inline-block;
  transition: box-shadow 200ms;
  margin: 20px 10px 10px;
  vertical-align: top;
}

.car-card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.11);
}

.car-card-img {
  width: 100%;
  height: 210px;
  background: transparent no-repeat center;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
}

.favorite-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 19px;
  height: 19px;
  padding: 0;
  color: #fff;
  opacity: 0.44;
}

.favorite-btn.active {
  color: #ffbc00;
  opacity: 1;
}

.car-card-title {
  font-size: 18px;
  color: #18232c;
  line-height: 23px;
  padding: 0 18px;
  margin-bottom: 6px;
}

.car-card-details {
  font-size: 16px;
  color: #575962;
  line-height: 23px;
  padding: 0 18px;
  margin-bottom: 6px;
}

.car-card-price {
  font-size: 16px;
  color: #18232c;
  line-height: 23px;
  padding: 0 18px;
  margin-bottom: 18px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.car-card-price > span {
  white-space: nowrap;
}

.car-card-price b {
  font-size: 20px;
}

.car-card-parking {
  width: 21px !important;
  height: 21px !important;
  margin-left: auto;
}

.results-header-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 57px;
}

.results-header-right-wrap {
}

.results-count {
  font-size: 22px;
  line-height: 26px;
  color: #3f4047;
}

.results-tags {
  display: flex;
  align-items: center;
  margin: 11px 0;
  flex-wrap: wrap;
}

.result-tag {
  padding: 6px 14px 6px 7px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  color: #2a3a8f;
  line-height: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.results-tag svg {
  color: #000;
}

.result-tag span {
  margin-left: 5px;
}

.result-tag:hover {
  background-color: #3f51ae;
}

.result-tag:hover svg,
.result-tag:hover span {
  color: #fff;
}

.result-clear-tags {
  font-size: 16px;
  line-height: 19px;
  margin-right: 13px;
  margin-bottom: 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-weight: 700;
  border-bottom: 1px dotted #3f51ae;
  color: #3f51ae;
}

.result-clear-tags:hover {
  color: #18232c;
  border-bottom: 1px dotted transparent;
}

.result-filter-btn-content {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 150%;
  right: 10px;
  width: 200px;
  padding: 30px 25px;
  z-index: 2;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  text-align: left;
  cursor: default;
  border-radius: 10px;
}

.result-filter-btn-content > div {
  font-size: 16px;
}

.result-filter-btn-content::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 40px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.results-cards-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.results-wrapper {
  max-width: 50%;
}

.results-notification-wrap {
  display: flex;
  align-items: center;
}

.responsive-results-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  &.active {
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: white;
    z-index: 10;
  }
}

.responsive-results-noti {
  display: none;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #575962;
}

.responsive-results-noti svg {
  margin-right: 6px;
  flex-shrink: 0;
}

.responsive-results-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #6c9f0f;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  padding: 7px 19px;
  display: inline-flex;
  align-items: center;
}

.responsive-results-btn svg {
  margin-right: 10px;
}

.responsive-results-btn:focus {
  background-color: #5b8d00;
}

.results-notification {
  font-size: 16px;
  line-height: 19px;
  color: #575962;
  text-align: center;
  margin-right: 17px;
}

.results-notification-btn {
  //background-color: #3F51AE;
  width: 124px;
  height: 37px;
  border-radius: 4px;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border: none;
}
.main-header-right-fav-btn,
.results-notification-btn {
  background-color: #6c9f0f;
}
.results-notification-btn.active,
.main-header-right-fav-btn.active {
  background-color: #3f51ae;
}
.results-notification-btn.green {
  background-color: #6c9e10;
}

.results-notification-btn > svg {
  margin-right: 4px;
}

.results-notification-btn-content,
.responsive-results-notification-btn-content,
.car-dealer-content {
  position: absolute;
  top: 125%;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  z-index: 6;
  color: #22242a;
  padding: 30px 25px;
  width: 335px;
  text-align: left;
  cursor: default;
  display: none;
  border-radius: 10px;
}

.results-notification-btn-content::before,
.responsive-results-notification-btn-content::before,
.car-dealer-content::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 40px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.results-notification-btn-content-title {
  font-size: 15px;
  line-height: 18px;
  color: #3f51ae;
  margin-bottom: 5px;
}

.results-notification-btn-content-data {
  font-size: 13px;
  line-height: 22px;
  color: #22242a;
}

.results-notification-btn-content-tag {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 4px 4px 0;
  font-size: 13px;
  color: #22242a;
}

.results-notification-btn-content-email {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 15px;
  color: #22242a;
  line-height: 21px;
}

.results-notification-btn-content-email svg {
  flex-shrink: 0;
  margin-right: 14px;
}

.results-notification-btn-content-email-link {
  color: #3f51ae;
  font-weight: 700;
}

.results-notification-btn-content-email-fields {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-notification-btn-content-email-fields input {
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 22px;
  color: #22242a;
}
.results-notification-btn-content-email-fields input.not-valid {
  border-color: red;
}

.results-notification-btn-content-email-fields button {
  background-color: #3f51ae;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 21px;
  white-space: nowrap;
}

.results-notification-btn-content-noti {
  display: none;
  /*display: flex;*/
  align-items: center;
  margin-top: 15px;
  font-size: 15px;
  color: #22242a;
  line-height: 20px;
}

.results-notification-btn-content-noti svg {
  flex-shrink: 0;
  margin-right: 14px;
}

.results-notification-btn-content-noti a {
  color: #3f51ae;
  font-weight: 700;
}

.results-notification-btn-content-noti .switch-checkbox {
  margin-left: auto;
}

.result-filter-btn-wrap {
  position: relative;
  display: inline-block;
}

.result-filter-btn {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: 7px;
  color: #060c12;
  font-size: 14px;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: -10px;
  padding-bottom: 10px;
}

.main-header-left {
  color: #3f4047;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  align-items: center;

  .results-link {
    .breadcrumbs-item {
      /* top: -4px; */
      position: relative;
      //margin-right: 10px;
    }

    /* &::after {
      content: '\2002/\2002';
      opacity: .5;
      font-size: 16px;
      color: inherit;
      bottom: 4px;
      position: relative;
    } */
  }
}

.breadcrumbs-arrow {
  margin-right: 12px;
}

.breadcrumbs-item {
  font-size: 15px;
  line-height: 18px;
  color: #3f4047;
  position: relative;
  margin-right: 26px;
  height: 16px;
  display: flex;
  align-items: center;
  min-width: 28px;
}
/* .breadcrumbs-item.b-empty{
  height: 16px;
} */

.breadcrumbs-item::after {
  content: "\2002/\2002";
  opacity: 0.5;
  font-size: 16px;
  color: #3f4047;
  position: absolute;
  top: -1px;
  right: -25px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.main-header-serial-number {
  color: #22242a;
  /* margin-left: 23px; */
  font-size: 15px;
  display: flex;
  align-items: center;
}
.main-header-serial-number--b {
  margin-left: 4px;
}
.main-header-serial-number .b-empty {
  height: 16px;
  display: inline-block;
}

.main-header-right {
  display: flex;
  align-items: center;
}

.main-header-right-data {
  margin-right: 5px;
  font-size: 14px;
  line-height: 19px;
  color: #575962;
  display: flex;

  align-items: center;
}

.main-header-right-data > svg {
  margin: 9px;
}

.main-header-right-fav-btn {
  //background-color: #6C9F0F;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  padding: 6px 12px;
  display: flex;

  align-items: center;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}

.main-header-right-fav-btn svg + span {
  margin-left: 12px;
}

.main-header-right-fav-btn:focus {
  background-color: #5b8d00;
}

.main-slider,
.main-slider-item {
  width: 860px;
}

.main-slider-item,
.main-content-wrap,
.main-slider-controls {
  height: 650px;
}

.main-base-right-side {
  display: flex;

  flex-direction: column;
}

.main-base-right-side-promo {
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.main-base-right-side-promo::before {
  content: "Auglýsing";
  position: absolute;
  bottom: -25px;
  right: 0;
  opacity: 0.5;
  font-size: 9px;
  color: #000;
  letter-spacing: 0.18px;
  line-height: 23px;
}

.main-base-right-side-promo img {
  width: 100%;
  height: auto;
}

.main-slider-controls {
  display: flex;

  flex-direction: column;
  width: 100px;
  margin-left: 10px;
  flex-shrink: 0;
  overflow: hidden;
}

.main-slider-controls > a {
  margin-bottom: 10px;
}

.main-slider-controls > a.last {
  position: relative;
}

.main-slider-controls > a.last::before {
  content: "Sjá allar myndir";
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  text-align: center;
  background-color: rgba(22, 22, 22, 0.47);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.main-slider-controls > a img {
  width: 100%;
  height: auto;
}

.main-content {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.main-content-wrap {
  position: relative;
  display: flex;
}

.main-share-button {
  position: absolute;
  left: -19px;
  bottom: 16px;
  background-color: #3b5998;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  z-index: 4;
  display: inline-flex;
  align-items: center;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.main-share-button svg {
  margin-right: 15px;
}

.main-basic-info {
  box-shadow: 0 1px 15px 0 rgba(69, 65, 78, 0.08);
  padding-top: 35px;
  margin-left: 25px;
}
@media (min-width: 721px) {
  .main-basic-info {
    width: 488px;
  }
}

.mobile-main-basic-info {
  display: none;
}

.mobile-main-basic-info > div {
  width: 48%;
}

.main-basic-info .hr {
  width: auto;
  margin: 16px 50px;
}

.main-basic-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.main-basic-info-header__title {
  display: flex;
  flex-direction: column;
}

.main-basic-info-header__title-brand {
  font-size: 28px;
  line-height: 33px;
  margin: 0;
  color: #22242a;
  font-weight: 700;
  height: 33px;
  transition: 0.5s;
}
.main-basic-info-header__title-brand.b-empty {
  width: 185px;
  display: block;
}

.main-basic-info-header__title-model {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  color: #22242a;
  transition: 0.5s;
}
.main-basic-info-header__title-model.b-empty {
  margin-top: 6px;
  width: 48px;
  height: 16px;
  display: block;
}

.main-basic-info-header__image {
  width: 78px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.main-basic-info-header__image img {
  /* max-width: 50px;
  max-height: 50px; */
  object-fit: contain;
  height: 100%;
}

.main-basic-info-data {
  display: flex;

  flex-wrap: wrap;
  padding: 0 50px;
}

.main-basic-info-data__item {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  color: #22242a;
}
.main-basic-info-data__text {
  width: 100%;
  height: 16px;
}

.main-basic-info-price {
  font-size: 18px;
  color: #22242a;
  padding: 0 50px;
}

.main-basic-info-price b {
  font-size: 26px;
}

.main-basic-info-parking {
  background-color: rgba(169, 169, 169, 0.2);
  padding: 10px 20px;
  font-size: 14px;
  color: #22242a;
  line-height: 20px;
  display: flex;

  align-items: flex-start;
  margin: 10px 50px;
}

.main-basic-info-parking img {
  margin-right: 10px;
}

.main-basic-info-btns-wrap {
  margin: 16px 60px 10px;
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.main-basic-info-btn-phone {
  border-radius: 4px;
  background-color: #3f51ae;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
  display: flex;

  align-items: center;
  cursor: pointer;
  border: none;
  padding: 8px 17px;
}

.main-basic-info-btn-phone svg {
  margin-right: 10px;
}

.main-basic-info-btn-phone span {
  margin: auto;
}

.main-basic-info-btn-email {
  border: 1px solid #dfe2ea;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #22242a;
  line-height: 21px;
  padding: 7px 15px;
  display: flex;

  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.main-basic-info-btn-email svg {
  margin-right: 10px;
}

.main-basic-info-btn-email span {
  margin: auto;
}

.main-basic-info-location {
  text-align: center;
  opacity: 0.5;
  font-size: 13px;
  color: #22242a;
  margin: 10px 0 28px;
  padding: 0 50px;
}

.main-basic-info-credit {
  font-size: 18px;
  color: #22242a;
  margin-bottom: 13px;
  padding: 0 50px;
}

.main-basic-info-credit a {
  color: #3f51ae;
  border-bottom: 1px dashed rgba(151, 151, 151, 0.2);
}

.main-basic-info-bank-wrap {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 7px 20% 7px 50px;
  font-size: 18px;
  color: #22242a;
}

.main-description-wrap {
  margin-right: 50px;
  margin-top: 50px;
  display: flex;
}

.mobile-main-description-promo {
  width: 100%;
  margin-top: 30px;
  position: relative;
  display: none;
  max-width: 310px;
}

.main-description-promo {
  width: 310px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-shrink: 0;
  align-self: flex-start;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 100px;
}

.main-description-promo::before,
.mobile-main-description-promo::before {
  /*content: 'Auglýsing';*/
  position: absolute;
  top: -20px;
  right: 0;
  opacity: 0.5;
  font-size: 9px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 23px;
}

.main-description-promo img,
.mobile-main-description-promo img {
  width: 100%;
  height: auto;
}

.main-description-title {
  font-size: 20px;
  color: #22242a;
  margin-bottom: 10px;
  font-weight: 700;
}

.mobile-main-description-header {
  display: none;
}

.main-description-header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.dealers .car-company .btn-dealer {
  margin-top: 40px;
}

.main-description-header-tags-wrap {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}

.main-description-header-tag {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 16px;
  line-height: 19px;
  color: #22242a;
  display: flex;

  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main-description-header-tag svg {
  margin-right: 5px;
}

.main-description-header-expand {
  font-size: 19px;
  color: #3f51ae;
  white-space: nowrap;
}

.main-description-details-breadcrumbs {
  margin-top: 30px;
}

.main-description-details + .main-description-details {
  margin-top: 30px;
}

.main-description-details-title {
  display: flex;

  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #22242a;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 700;
}

.tablet {
  .mobile-sub-menu {
    .search-wrap {
      .autocomplete__box,
      input {
        background-color: #2e3f94;
      }
    }

    & > div:first-child {
      float: left;
      width: 70%;
    }

    & > div:last-child {
      float: left;
      width: 30%;
    }
  }
}

.results-notification-btn-content {
  .footer {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;

    .del-btn {
      cursor: pointer;
      position: relative;

      .confirm-btn {
        top: 40px;
        right: auto;
      }

      svg {
        position: relative;
        top: 4px;
      }
    }
  }
}

.notification-main-info-title-wrap {
  position: relative;
}

.confirm-btn {
  font-size: 14px;
  position: absolute;
  top: 95%;
  right: 30%;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  z-index: 6;
  color: #22242a;
  padding: 15px;
  //width: 335px;
  text-align: left;
  cursor: default;
  border-radius: 10px;

  & > div {
    float: left;
    padding: 10px 15px;
    cursor: pointer;
  }

  & > div:first-child {
    color: white;
    border-radius: 3px;
    background-color: #6f9f13;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 40px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
  }
}
.contacts {
  .field-wrapper {
    position: relative;
    width: 100%;
    max-width: 355px;
    float: left;
    height: 55px;
    border-radius: 0;
    border-radius: 0.25rem;
    margin-bottom: 9px;
    padding-top: 10px;
    padding-bottom: 2px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;

    input {
      border-color: none;
      border: 0px;
    }
  }
  .form-control {
    font-family: sans-serif, Arial;
    border: 0px;
    height: 100%;
    display: block;
    width: 100%;
    padding: 6px 16px;
    font-size: 15px;
    line-height: 18px;
  }

  .contacts-label {
    /*margin-top: 14px;*/
    position: absolute;
    width: calc(100% - 32px);
    min-height: 1px;
    text-transform: none;
    //padding-right: 15px;
    //padding-left: 15px;
    top: 19px;
    left: 16px;
    /*      padding-bottom: 10px;*/
    color: #3f4047;
    //padding-top: 30px;f
    margin-bottom: 0;
    font-weight: 400;
    font-size: 15px;
    float: left;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    pointer-events: none;
  }

  .form-group input:focus + label.contacts-label,
  .form-group textarea:focus + label.contacts-label,
  .form-group .input-focus:hover + label.contacts-label {
    position: absolute;
    font-size: 11px;
    line-height: 13px;
    top: 10px;
    left: 16px;
  }

  .checkbox-text {
    margin-left: 5px;
  }
  .fw-w-bot-margin {
    margin-bottom: 16px;
  }

  .checkbox-filter-label {
    margin: 0px 0px 24px 0px;
    width: 100% !important;
  }

  .field-wrapper.fw-w-textarea {
    max-width: 100% !important;
    min-height: 99px;
  }

  .checked-label {
    color: #3f51ae !important;
    color: #3f51ae !important;
  }
  .filled-label {
    position: absolute;
    font-size: 11px;
    line-height: 13px;
    top: 10px;
    left: 16px;
  }
  svg#calendar-icon,
  svg#clock-icon {
    position: absolute;
    right: 19px;
    top: 10px;
  }
}
.hr.mobile-filters-hr {
  display: none;
}

.results-notification-btn-content {
  .hr {
    display: none;
  }
}

.select-car-wrapper {
  width: 100%;
}

.right-data-mobile {
  display: none;
}

.blueBtn {
  background-color: #3f51ae !important;
}

#load_more {
  opacity: 0;
}

.popupbg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.71);
  z-index: 100;
  opacity: 1;
}

@import "./_main";

.select_tpl {
  padding: 12px 14px 11px 14px;
  color: #575962;
  border-radius: 4px;
  border: solid 1px #ebedf2;
  background-color: #f7f7f7;
  margin-bottom: 10px;
}

.select_tpl.show-filter {
  background-color: #fff;
}

.select_tpl.show-filter .extra-filter-title-name {
  color: #3f51ae;
}

.other-model {
  table {
    tr {
      th {
        font-weight: bold;
      }

      td {
        padding: 15px 10px;

        &.model {
          color: #3f51ad;
          cursor: pointer;
        }

        &.price {
          color: #3f51ad;
        }
      }
    }
  }
  .active {
    background-color: #ecf3e1;
  }
}

.pack-popup {
  width: 720px;
  top: auto;
  right: auto;
  margin-left: -50px;
  margin-top: 10px;
  display: block;
}

.pack-popup::before {
  left: 54px;
}

.notifications-wrap {
  & > .dealer-car {
    display: inline-block;
    transition: box-shadow 200ms;
    margin: 20px 10px 10px;
    vertical-align: top;
    //width: 30%;
  }
}

.filters.dealers {
  .checkbox-filter-hint {
    font-size: 13px;
  }
}

.autocomplete__inputs input::-ms-input-placeholder {
  color: #fff;
}

.mobile,
.tablet {
  .mobile-sub-menu {
    //font-size: 14px;
    background-color: #2e3f94;
    position: fixed;
    left: 0px;
    top: 70px;
    height: 50px;
    width: 100%;
    z-index: 10;

    a {
      font-size: 16px;
      text-align: center;
      color: white;
      //padding: 15px;
      display: inline-block;
      padding-top: 16px;
      margin-left: 35px;
      padding-bottom: 14px;
      &.active {
        font-weight: bold;
        border-bottom: 4px solid;
      }
    }
  }

  .menu-container {
    .user-login {
      bottom: 40px;
      position: relative;
      a {
        color: white;
        font-size: 17px;
        margin-left: 10px;
      }
      a:last-child {
        padding-left: 10px;
        border-left: 1px solid white;
      }
    }
  }
}

/*Dealers page*/
.brands-h {
  font-size: 15px;
  background: #3f51ae;
  color: white;
  width: 100%;
  padding: 30px;
  height: 340px;
  /* background-image: url("../../static/img/bmw-car.png"); */
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: bottom;

  .title {
    margin-right: 30px;
    width: 300px;
    float: left;

    h1 {
      margin-top: 50px;
      font-weight: bold;
      font-size: 50px;
    }

    h3 {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 100;
    }
  }

  .brand {
    float: left;
    width: 50%;
    .brand-item {
      width: 50%;
      display: inline-block;
      font-size: 24px;
      margin-bottom: 20px;

      .brand-name {
        float: left;
        font-weight: bold;
        cursor: pointer;
      }

      .brand-co {
        font-weight: 100;
        margin-left: 10px;
        float: left;
      }
    }
  }
}

.main-description-details-title-right {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #3f51ae;
}

.main-description-details-title-right > span {
  margin-right: 16px;
}

.main-description-details-title-right svg.rotate {
  transition: transform 300ms;
  transform: rotate(180deg);
}

.main-description-details-content {
  font-size: 16px;
  color: #22242a;
  line-height: 32px;
  padding: 20px;
}

.main-description-details-content li {
  display: inline-block;
  width: 260px;
  margin: 0 10px;
}

.main-description-details-content li::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 13px;
  /* background-image: url("../../static/i/ok.png"); */
  background-size: contain;
  margin-right: 6px;
}

.main-thumbnails {
  padding: 15px 0 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-thumbnails-item {
  width: 50%;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.main-footer-slider-title {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #3f4047;
  margin: 30px 0 20px;
}

.mobile-actions {
  display: none;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 20;
}

.mobile-actions::before {
  content: "";
  position: absolute;
  height: 26px;
  top: -26px;
  left: 0;
  right: 0;
  opacity: 0.2;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 51%,
    rgba(0, 0, 0, 0.32) 100%
  );
}

.mobile-action-link {
  color: #9b9b9b;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  font-weight: 700;
  font-size: 14px;
  height: 100%;
}

.mobile-action-link {
  span {
    margin-top: 4px;
  }
}

.mobile-action-link.active {
  color: #3f51ae;
}

.mobile-search-wrap {
  border: none;
  padding: 18px;
  display: none;
  align-items: center;
  background-color: rgba(36, 34, 35, 0.2);
  width: 100%;
  margin-bottom: 32px;

  svg {
    z-index: 10;
    position: absolute;
  }

  input {
    margin-left: 14px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    //border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }

  .autocomplete__box {
    background-color: transparent;

    input {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
  }
}

.mobile-great-deal {
  background-color: #fff;
  display: none;
  padding: 40px 32px 25px;
  position: relative;
}

.mobile-great-deal-img {
  position: absolute;
  top: -31px;
  left: 35px;
  width: 60px;
  height: 60px;
  box-shadow: #00000082 0px 0px 5px 0px;
  border-radius: 5px;
}

.mobile-great-deal-title {
  font-weight: 700;
  font-size: 29px;
  color: #3f51ae;
  margin-bottom: 13px;
}

.mobile-great-deal-description {
  font-weight: 300;
  font-size: 21px;
  color: #3f4047;
  margin-bottom: 7px;
}

.mobile-great-deal-stores-wrap {
  margin-bottom: 11px;
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.mobile-great-deal-stores-wrap a {
  width: calc(50% - 6px);
  max-width: 200px;
}

.mobile-great-deal-stores-wrap a + a {
  margin-left: 12px;
}

.mobile-great-deal-stores-wrap a img {
  width: 100%;
}

.mobile-great-deal-link {
  font-weight: 700;
  font-size: 15px;
  color: #282123;
  display: block;
  text-align: center;
}

.mobile-main-header {
  display: none;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.mobile-main-header-noti {
  display: flex;

  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #575962;
}

.mobile-main-header-noti svg {
  margin-right: 6px;
  flex-shrink: 0;
}

.mobile-main-header-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #6c9f0f;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  padding: 7px 19px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.mobile-main-header-btn svg {
  margin-right: 10px;
}

.mobile-main-basic-info-meta {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.js-menu-mobile {
  /*width: 30px;*/
  height: 30px;
  border: none;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mobile-main-meta {
  margin: 10px 0;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

.mobile-main-meta-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #22242a;
  line-height: 32px;
}

.mobile-main-meta-item > svg {
  margin-right: 9px;
}

.mobile-main-meta-item + .mobile-main-meta-item {
  margin-left: 15px;
}

.car-detail-list {
  li {
    font-family: Roboto;
    font-size: 16px;
  }
}

.circl {
  max-width: 50px;
  border-radius: 50px;
}

input[type="checkbox"]:checked + label:before {
}

input[type="checkbox"]:checked + label:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

//Filters
.filters-car-brand--full,
.filters-car-brand--empty {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.lg-image {
  user-select: none;
}

.forgot-password-link {
  padding-right: 10px;
}

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  overflow: auto;
}

@import "_transitions";
@import "_profile";
@import "_dealers";
@import "_popup";

// Import folders
@import "components/_index";
@import "pages/_dealerSimpleCar";
@import "mobile/_index";
