<template>
  <div>
      <NavigationLinks/>
      <slot></slot>
  </div>
</template>

<script>
import NavigationLinks from '../components/Blog/navigationLinks'

export default {
    components: {
        NavigationLinks
    }
}
</script>